Repository AxaFrance/design-system, pull requests merged in 2024-08, with the labels that each got.

#433 feature: add aria label for a11y select client
  packages/react/src/Form/Select/Client/CustomOption.tsx
  packages/react/src/Form/Select/Client/Select.tsx
Labels: look'n feel

#452 Feature(Client): Remove ghost button padding
  slash/css/src/Button/Button.client.scss
Labels: css-package, look'n feel

#434 Feature(client): create Title component
  slash/css/src/Title/Agent/Title.scss
  slash/css/src/Title/Agent/Title.stories.ts
  slash/css/src/Title/Client/Title.scss
  slash/css/src/Title/Client/Title.stories.ts
  slash/css/src/agent.scss
  slash/css/src/client.scss
  slash/react/src/IconBg/IconBg.client.tsx
  slash/react/src/Title/Agent/Title.mdx
  slash/react/src/Title/Agent/Title.stories.tsx
  slash/react/src/Title/Agent/Title.tsx
  slash/react/src/Title/Agent/__tests__/Title.test.tsx
  slash/react/src/Title/Client/Title.mdx
  slash/react/src/Title/Client/Title.stories.tsx
  slash/react/src/Title/Client/Title.tsx
  slash/react/src/Title/Client/TitleWithSubtitles.tsx
  slash/react/src/Title/Client/__tests__/Title.test.tsx
  slash/react/src/Title/Client/__tests__/TitleWithSubtitles.test.tsx
  slash/react/src/Title/Client/constants.ts
  slash/react/src/Title/Client/index.ts
  slash/react/src/agent.ts
  slash/react/src/client.ts
Labels: component, css-package, look'n feel

#450 Feature(client): create ContentItemDuo component
  slash/css/src/Alert/Alert.client.scss
  slash/css/src/Button/Button.client.scss
  slash/css/src/Form/Checkbox/Client/Checkbox.scss
  slash/css/src/Form/FileUpload/Client/FileUpload.client.scss
  slash/css/src/Form/InputError/InputError.client.scss
  slash/css/src/Form/Radio/Client/Radio.scss
  slash/css/src/Form/Select/Client/Select.client.scss
  slash/css/src/Form/Text/Client/Text.client.scss
  slash/css/src/List/ContentItemDuo/ContentItemDuo.scss
  slash/css/src/List/ContentItemDuo/ContentItemDuo.stories.ts
  slash/css/src/List/ContentTabList/ContentTabList.client.scss
  slash/css/src/List/ContentTabList/ContentTabList.client.stories.ts
  slash/css/src/List/List.scss
  slash/css/src/Tag/Tag.client.scss
  slash/css/src/client.scss
  slash/css/src/common/common.client.scss
  slash/react/src/List/ContentItemDuo/ContentItemDuo.mdx
  slash/react/src/List/ContentItemDuo/ContentItemDuo.stories.tsx
  slash/react/src/List/ContentItemDuo/ContentItemDuo.tsx
  slash/react/src/List/ContentItemDuo/__tests__/ContentItemDuo.test.tsx
  slash/react/src/List/ContentItemDuo/index.ts
  slash/react/src/List/ContentTabList/ContentTabList.client.tsx
  slash/react/src/client.ts
Labels: component, css-package, look'n feel

#436 Feature(client): create ContentItemMono component
  slash/css/src/List/ContentItemMono/ContentItemMono.scss
  slash/css/src/List/ContentItemMono/ContentItemMono.stories.ts
  slash/css/src/List/List.scss
  slash/css/src/List/List.stories.ts
  slash/css/src/client.scss
  slash/react/src/List/ContentItemMono/ContentItemMono.mdx
  slash/react/src/List/ContentItemMono/ContentItemMono.stories.tsx
  slash/react/src/List/ContentItemMono/ContentItemMono.tsx
  slash/react/src/List/ContentItemMono/__tests__/ContentItemMono.test.tsx
  slash/react/src/List/ContentItemMono/constants.ts
  slash/react/src/List/ContentItemMono/index.ts
  slash/react/src/List/List.stories.tsx
  slash/react/src/client.ts
Labels: component, css-package, look'n feel
