Repository AxaFrance/design-system, pull requests merged in 2024-12, with the labels that each got.

#635 fix(lnf): accessibility errors aria on form inputs
  look-and-feel/react/src/Form/Checkbox/Checkbox.tsx
  look-and-feel/react/src/Form/FileUpload/FileUpload.tsx
  look-and-feel/react/src/Form/Radio/Radio.tsx
  look-and-feel/react/src/Form/Radio/RadioSelect.tsx
  look-and-feel/react/src/Form/Select/Select.tsx
  look-and-feel/react/src/Form/Text/Text.tsx
Labels: look'n feel

#630 feat(label): modification de la taille du font-size des labels
  look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  look-and-feel/css/src/Form/Checkbox/Checkbox.stories.ts
  look-and-feel/css/src/Form/FileUpload/FileUpload.scss
  look-and-feel/css/src/Form/Radio/Radio.scss
  look-and-feel/css/src/Form/Select/Select.scss
  look-and-feel/css/src/Form/Text/Text.scss
  look-and-feel/react/src/Form/Checkbox/CheckboxSelect.stories.tsx
  look-and-feel/react/src/Form/Checkbox/CheckboxSelect.tsx
Labels: enhancement, component, look'n feel

#642 docs: update migration guide for import core scss file to load sass variables
  MIGRATION-GUIDE-TOOLKIT.md
Labels: documentation

#650 fix(slash): make messageType property optionnal
  slash/react/src/Form/core/FieldForm.tsx
  slash/react/src/Form/core/FormClassManager.ts
Labels: bug, agent-slash

#649 fix: add component Items missing export
  slash/react/src/Table/index.ts
Labels: bug, agent-slash

#651 fix(slash): add className and classModifier to CollapseCard component
  slash/react/src/Accordion/Accordion.stories.tsx
  slash/react/src/Accordion/CollapseCard.tsx
Labels: bug, agent-slash

#654 feat(l&f): export SkeletonList
  look-and-feel/react/src/index.ts
  slash/react/src/Accordion/CollapseCard.tsx
Labels: look'n feel

#659 fix(lnf): center checkbox content and remove margin under label
  look-and-feel/css/src/Form/Checkbox/Checkbox.scss
Labels: bug, css-package, look'n feel

#658 fix(slash): missing radiogroup role and container label for RadioInput
  slash/react/src/Form/Radio/RadioInput.tsx
Labels: bug, agent-slash

#656 fix(slash): rename iconClassName's Alert property to icon to avoid breaking change
  slash/css/src/Alert/Alert.stories.ts
  slash/react/src/Alert/Alert.stories.tsx
  slash/react/src/Alert/Alert.tsx
  slash/react/src/Summary/index.tsx
Labels: bug, agent-slash

#652 Docs/migration
  MIGRATION-GUIDE-TOOLKIT.md
Labels: documentation, agent-slash

#661 fix(slash): classModifier undefined for HeaderTitle
  slash/react/src/Layout/Header/HeaderTitle/HeaderTitle.helpers.ts
Labels: bug, agent-slash

#662 fix publish ci
  .github/workflows/publish-look-and-feel.yml
  .github/workflows/publish-slash.yml
Labels: ci

#663 docs(look-and-feel, slash): links storybook
  README.md
Labels: documentation

#674 fix(slash): add required attribute on RadioInput based on classModifier
  slash/react/src/Form/Radio/RadioInput.tsx
Labels: bug, agent-slash

#675 chore: Add analysis tool badges
  README.md
Labels: documentation, chore

#665 feat(Button): sync color between text and icon to avoid to set a fill value every time
  look-and-feel/css/src/Button/Button.scss
  look-and-feel/css/src/Button/Button.stories.ts
  look-and-feel/react/src/Button/Button.stories.tsx
Labels: css-package, look'n feel

#666 feat(ClickItem): permit to have custom action icon
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/__tests__/ClickItem.test.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/types.d.ts
  look-and-feel/react/src/List/ClickList/ClickList.stories.tsx
Labels: component, look'n feel

#679 fix(svgInjector): add null check for SVGSVGElement
  look-and-feel/react/src/Svg/svgInjector.ts
Labels: bug, component, look'n feel

#683 feat(look&feel): grid system
  look-and-feel/css/.storybook/main.js
  look-and-feel/css/.storybook/preview.js
  look-and-feel/css/public/grille-look-and-feel.png
  look-and-feel/css/public/offsets.png
  look-and-feel/css/src/Button/Button.stories.ts
  look-and-feel/css/src/Button/render.ts
  look-and-feel/css/src/Form/Text/Text.scss
  look-and-feel/css/src/Form/Text/Text.stories.ts
  look-and-feel/css/src/Form/Text/render.ts
  look-and-feel/css/src/Grid/DebugGrid.scss
  look-and-feel/css/src/Grid/Grid-demo-example-form.scss
  look-and-feel/css/src/Grid/Grid-demo-example-page.scss
  look-and-feel/css/src/Grid/Grid-demo-wireframe.scss
  look-and-feel/css/src/Grid/Grid.mdx
  look-and-feel/css/src/Grid/Grid.scss
  look-and-feel/css/src/Grid/GridExampleForm.stories.ts
  look-and-feel/css/src/Grid/GridExamplePage.stories.ts
  look-and-feel/css/src/Grid/GridWireframe.stories.ts
  look-and-feel/css/src/Grid/renderDebugGrid.ts
  look-and-feel/css/src/Grid/renderExampleForm.ts
  look-and-feel/css/src/Grid/renderExamplePage.ts
  look-and-feel/css/src/Grid/renderWireframe.ts
  look-and-feel/css/src/Layout/Footer/Footer.stories.ts
  look-and-feel/css/src/Layout/Footer/render.ts
  look-and-feel/css/src/Layout/Header/Header.stories.ts
  look-and-feel/css/src/Layout/Header/render.ts
  look-and-feel/css/src/List/ClickList/ClickList.stories.ts
  look-and-feel/css/src/List/ClickList/render.ts
  look-and-feel/css/src/List/ContentItemDuo/ContentItemDuo.stories.ts
  look-and-feel/css/src/List/ContentItemDuo/render.ts
  look-and-feel/css/src/Skeleton/Skeleton.stories.ts
  look-and-feel/css/src/Title/Title.stories.ts
  look-and-feel/css/src/Title/render.ts
  look-and-feel/css/src/look-and-feel.scss
  look-and-feel/css/src/utils/index.ts
  look-and-feel/react/.storybook/preview.ts
  look-and-feel/react/src/Form/Text/Text.stories.tsx
  look-and-feel/react/src/Form/Text/Text.tsx
  look-and-feel/react/src/Grid/DebugGrid.mdx
  look-and-feel/react/src/Grid/DebugGrid.stories.tsx
  look-and-feel/react/src/Grid/DebugGrid.tsx
  look-and-feel/react/src/Grid/Grid.mdx
  look-and-feel/react/src/Grid/GridExampleForm.stories.ts
  look-and-feel/react/src/Grid/GridExamplePage.stories.ts
  look-and-feel/react/src/Grid/GridWireframe.stories.ts
  look-and-feel/react/src/Grid/components/Card.tsx
  look-and-feel/react/src/Grid/components/Contacts.tsx
  look-and-feel/react/src/Grid/components/MainTitle.tsx
  look-and-feel/react/src/Grid/components/MyFooter.tsx
  look-and-feel/react/src/Grid/components/MyHeader.tsx
  look-and-feel/react/src/Grid/components/MyList.tsx
  look-and-feel/react/src/Grid/components/Offsets.tsx
  look-and-feel/react/src/Grid/renderExampleForm.tsx
  look-and-feel/react/src/Grid/renderExamplePage.tsx
  look-and-feel/react/src/Grid/renderWireframe.tsx
  look-and-feel/react/src/Layout/Footer/index.ts
  look-and-feel/react/src/index.ts
Labels: enhancement, look'n feel

#688 fix(slash): radio input error design (item not in red)
  slash/react/src/Form/Choice/ChoiceInput.stories.tsx
  slash/react/src/Form/Date/DateInput.stories.tsx
  slash/react/src/Form/MultiSelect/MultiSelect.stories.tsx
  slash/react/src/Form/Number/NumberInput.stories.tsx
  slash/react/src/Form/Pass/PassInput.stories.tsx
  slash/react/src/Form/Radio/RadioInput.stories.tsx
  slash/react/src/Form/Radio/RadioInput.tsx
  slash/react/src/Form/Textarea/TextareaInput.stories.tsx
  slash/react/src/Form/core/FieldForm.tsx
Labels: bug, agent-slash

#686 fix(slash): rotate only header glyphicon collapse card
  slash/css/src/Accordion/Accordion.scss
  slash/react/src/Accordion/Accordion.stories.tsx
Labels: bug, agent-slash

#692 fix(slash): passing className property to Button remove af-btn defaultClassName
  slash/react/src/Button/Button.stories.tsx
  slash/react/src/Button/Button.tsx
  slash/react/src/Form/File/__tests__/__snapshots__/File.spec.tsx.snap
  slash/react/src/Form/File/__tests__/__snapshots__/FileInput.spec.tsx.snap
Labels: bug, agent-slash

#726 fix(slash): add displayName to FieldInput
  slash/react/src/Form/core/FieldInput.tsx
Labels: bug, agent-slash, design
