Repository AxaFrance/design-system, pull requests merged in 2024-09, with the labels that each got.

#471 feat(css): create $default-border-radius variable
  slash/css/src/Button/Button.client.scss
  slash/css/src/Form/Checkbox/Client/Checkbox.scss
  slash/css/src/Form/FileUpload/Client/FileUpload.client.scss
  slash/css/src/Form/Radio/Client/Radio.scss
  slash/css/src/Form/Select/Client/Select.client.scss
  slash/css/src/Form/Text/Client/Text.client.scss
  slash/css/src/List/ClickList/ClickList.client.scss
  slash/css/src/Stepper/Stepper.client.scss
  slash/css/src/common/common.client.scss
Labels: css-package, look'n feel

#504 chore(vitest): exclude unnecessary files/folders from coverage
  look-and-feel/react/vitest.config.mts
Labels: chore, look'n feel

#505 feat: add missing style imports
  look-and-feel/css/src/look-and-feel.scss
Labels: css-package, look'n feel

#469 Feat(client): permit to click item to be a link
  look-and-feel/css/src/List/ClickList/ClickList.scss
  look-and-feel/css/src/List/ClickList/ClickList.stories.ts
  look-and-feel/css/src/List/List.scss
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/__tests__/ClickItem.test.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/index.ts
  look-and-feel/react/src/List/ClickList/ClickList.mdx
  look-and-feel/react/src/List/ClickList/ClickList.stories.tsx
  look-and-feel/react/src/List/ClickList/ClickList.tsx
  look-and-feel/react/src/List/ClickList/index.ts
  look-and-feel/react/src/index.ts
Labels: component, css-package, look'n feel

#142 Feature/component-restitution
  slash/css/src/Restitution/Restitution.scss
  slash/css/src/Restitution/Restitution.stories.ts
  slash/react/src/Restitution/ArticleRestitution.tsx
  slash/react/src/Restitution/HeaderRestitution.tsx
  slash/react/src/Restitution/Restitution.mdx
  slash/react/src/Restitution/Restitution.stories.tsx
  slash/react/src/Restitution/Restitution.tsx
  slash/react/src/Restitution/RestitutionList.tsx
  slash/react/src/Restitution/SectionRestitution.tsx
  slash/react/src/Restitution/SectionRestitutionColumn.tsx
  slash/react/src/Restitution/SectionRestitutionRow.tsx
  slash/react/src/Restitution/SectionRestitutionTitle.tsx
  slash/react/src/Restitution/index.ts
  slash/react/src/index.ts
Labels: agent-slash

#210 feature/summary-component
  slash/react/src/Summary/Summary.mdx
  slash/react/src/Summary/Summary.stories.tsx
  slash/react/src/Summary/index.tsx
  slash/react/src/index.ts
Labels: agent-slash

#520 fix(lnf/alert): icon align with title
  look-and-feel/css/src/Alert/Alert.scss
  look-and-feel/react/src/Alert/Alert.tsx
Labels: look'n feel

#521 Fix(client): style between List and ClickItem when use full-width modifier
  look-and-feel/css/src/List/List.scss
  look-and-feel/css/src/List/List.stories.ts
  look-and-feel/react/src/List/List.mdx
  look-and-feel/react/src/List/List.stories.tsx
Labels: css-package, look'n feel
