Repository AxaFrance/design-system, pull requests merged in 2024-11, with the labels that each got.

#572 feat(ClickItem): make icons decorative
  look-and-feel/css/src/List/ClickList/ClickList.stories.ts
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.tsx
  look-and-feel/react/src/List/ClickList/ClickList.stories.tsx
Labels: component, look'n feel

#542 feat(client): permit ClickItem click type to be more permissive
  look-and-feel/css/src/List/ClickList/ClickList.scss
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/__tests__/ClickItem.test.tsx
  look-and-feel/react/src/List/ClickList/ClickList.mdx
  look-and-feel/react/src/List/ClickList/ClickList.stories.tsx
Labels: component, css-package, look'n feel

#543 feat(client): create Divider component
  look-and-feel/css/src/Accordion/Accordion.stories.ts
  look-and-feel/css/src/AccordionCore/AccordionCore.scss
  look-and-feel/css/src/AccordionCore/AccordionCore.stories.ts
  look-and-feel/css/src/Divider/Divider.scss
  look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  look-and-feel/css/src/List/ClickList/ClickList.stories.ts
  look-and-feel/css/src/List/ContentItemDuo/ContentItemDuo.stories.ts
  look-and-feel/css/src/List/ContentItemMono/ContentItemMono.stories.ts
  look-and-feel/css/src/List/ContentTabList/ContentTabList.stories.ts
  look-and-feel/css/src/List/List.scss
  look-and-feel/css/src/List/List.stories.ts
  look-and-feel/css/src/Modal/Modal.scss
  look-and-feel/css/src/Stepper/Stepper.scss
  look-and-feel/css/src/common/common.scss
  look-and-feel/css/src/look-and-feel.scss
  look-and-feel/react/src/AccordionCore/AccordionCore.tsx
  look-and-feel/react/src/Divider/Divider.tsx
  look-and-feel/react/src/Divider/__tests__/Divider.test.tsx
  look-and-feel/react/src/Divider/index.ts
  look-and-feel/react/src/List/ClickList/__tests__/ClickList.client.test.tsx
  look-and-feel/react/src/List/List.tsx
  look-and-feel/react/src/List/__tests__/List.test.tsx
Labels: agent-slash, component, css-package

#585 feat: remove tabIndex from Card
  look-and-feel/css/src/Card/Card.stories.ts
  look-and-feel/css/src/List/ContentItemDuo/ContentItemDuo.stories.ts
  look-and-feel/css/src/List/ContentItemMono/ContentItemMono.stories.ts
  look-and-feel/css/src/List/List.stories.ts
  look-and-feel/react/src/Accordion/Accordion.mdx
  look-and-feel/react/src/Accordion/Accordion.stories.tsx
  look-and-feel/react/src/AccordionCore/AccordionCore.mdx
  look-and-feel/react/src/AccordionCore/AccordionCore.stories.tsx
  look-and-feel/react/src/Card/Card.tsx
  look-and-feel/react/src/List/ClickList/ClickList.tsx
  look-and-feel/react/src/List/ContentTabList/ContentTabList.tsx
Labels: component, look'n feel

#590 feat(look-and-feel): auto fit height only for card list
  look-and-feel/css/src/Card/Card.scss
  look-and-feel/css/src/List/List.scss
Labels: enhancement, component, look'n feel

#583 feat(Title): encompass Title into header tag to improve accessibility
  look-and-feel/css/src/Title/Title.scss
  look-and-feel/css/src/Title/Title.stories.ts
  look-and-feel/react/src/Title/Title.stories.tsx
  look-and-feel/react/src/Title/Title.tsx
  look-and-feel/react/src/Title/TitleWithSubtitles.tsx
  look-and-feel/react/src/Title/__tests__/TitleWithSubtitles.test.tsx
Labels: component, css-package, look'n feel

#587 feat(Link): permit to set a right and a left icon
  look-and-feel/css/src/Button/Button.scss
  look-and-feel/css/src/Link/Link.scss
  look-and-feel/css/src/Link/Link.stories.ts
  look-and-feel/react/src/Link/Link.stories.tsx
  look-and-feel/react/src/Link/Link.tsx
  look-and-feel/react/src/Link/__tests__/Link.test.tsx
  look-and-feel/react/src/Link/index.ts
  look-and-feel/react/src/index.ts
Labels: component, css-package, look'n feel

#589 feat(ContentTabItem): use given components for buttons instead of Button props
  look-and-feel/css/src/List/ContentTabList/ContentTabList.scss
  look-and-feel/css/src/List/ContentTabList/ContentTabList.stories.ts
  look-and-feel/react/src/List/ContentTabList/ContentTabItem/ContentTabItem.tsx
  look-and-feel/react/src/List/ContentTabList/ContentTabItem/__tests__/ContentTabItem.test.tsx
  look-and-feel/react/src/List/ContentTabList/ContentTabItem/types.d.ts
  look-and-feel/react/src/List/ContentTabList/ContentTabList.mdx
  look-and-feel/react/src/List/ContentTabList/ContentTabList.stories.tsx
  look-and-feel/react/src/List/ContentTabList/__tests__/ContentTabList.test.tsx
Labels: component, css-package, look'n feel, breaking-change

#593 feat(ClickItem): create createClickItemParent function
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.helpers.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/ClickItem.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/__tests__/ClickItem.helpers.test.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/__tests__/ClickItem.test.tsx
  look-and-feel/react/src/List/ClickList/ClickItem/index.ts
  look-and-feel/react/src/List/ClickList/ClickItem/types.d.ts
  look-and-feel/react/src/List/ClickList/ClickList.mdx
  look-and-feel/react/src/List/ClickList/ClickList.stories.tsx
  look-and-feel/react/src/List/ClickList/__tests__/ClickList.client.test.tsx
  look-and-feel/react/src/List/ClickList/index.ts
  look-and-feel/react/src/index.ts
Labels: component, look'n feel

#597 feat: use ghost button style for previous link from header
  look-and-feel/css/src/Button/Button.scss
  look-and-feel/css/src/Layout/Header/Header.stories.ts
  look-and-feel/css/src/Layout/Header/PreviousLink/PreviousLink.scss
  look-and-feel/react/src/Layout/Header/PreviousLink/PreviousLink.tsx
Labels: component, css-package, look'n feel

#600 ci: disable SonarCloud Scan on fork
  .github/workflows/main.yml
Labels: ci

#602 feat(Button, ClickList): prevent text selection on button and click items
  look-and-feel/css/src/Button/Button.scss
  look-and-feel/css/src/List/ClickList/ClickList.scss
Labels: css-package, look'n feel

#622 feat(look-and-feel): skeletonlist
  look-and-feel/react/src/SkeletonList/SkeletonList-demo.scss
  look-and-feel/react/src/SkeletonList/SkeletonList.stories.tsx
  look-and-feel/react/src/SkeletonList/SkeletonList.tsx
  look-and-feel/react/src/SkeletonList/__tests__/SkeletonList.test.tsx
Labels: component, look'n feel
