Repository AxaFrance/design-system, pull requests merged in 2024-10, with the labels that each got.

#459 Feat(client): create AccordionCore and Accordion
  look-and-feel/css/src/Accordion/Accordion.scss
  look-and-feel/css/src/Accordion/Accordion.stories.ts
  look-and-feel/css/src/AccordionCore/AccordionCore.scss
  look-and-feel/css/src/AccordionCore/AccordionCore.stories.ts
  look-and-feel/css/src/Card/Card.scss
  look-and-feel/css/src/List/List.scss
  look-and-feel/css/src/List/List.stories.ts
  look-and-feel/css/src/look-and-feel.scss
  look-and-feel/react/src/Accordion/Accordion.mdx
  look-and-feel/react/src/Accordion/Accordion.stories.tsx
  look-and-feel/react/src/Accordion/Accordion.tsx
  look-and-feel/react/src/Accordion/AccordionItem.tsx
  look-and-feel/react/src/Accordion/AccordionTagDateContainer.tsx
  look-and-feel/react/src/Accordion/__tests__/Accordion.test.tsx
  look-and-feel/react/src/Accordion/__tests__/AccordionTagDateContainer.test.tsx
  look-and-feel/react/src/Accordion/index.ts
  look-and-feel/react/src/AccordionCore/AccordionCore.mdx
  look-and-feel/react/src/AccordionCore/AccordionCore.stories.tsx
  look-and-feel/react/src/AccordionCore/AccordionCore.tsx
  look-and-feel/react/src/AccordionCore/__tests__/AccordionCore.test.tsx
  look-and-feel/react/src/AccordionCore/index.ts
  look-and-feel/react/src/Layout/Footer/MenuLink.tsx
  look-and-feel/react/src/List/ContentTabList/ContentTabList.tsx
  look-and-feel/react/src/List/List.stories.tsx
  look-and-feel/react/src/Pagination/Pagination.tsx
  look-and-feel/react/src/index.ts
  look-and-feel/react/src/utilities.ts
  look-and-feel/react/src/utilities/constants.ts
  look-and-feel/react/src/utilities/hooks/useIsSmallScreen.ts
  look-and-feel/react/vitest.config.mts
  slash/react/src/utilities.ts
  slash/react/src/utilities/constants.ts
  slash/react/src/utilities/hooks/useIsSmallScreen.ts
  slash/react/vitest.config.mts
Labels: component, css-package, look'n feel

#538 feat(client): make Title firstSubtitle prop optional
  look-and-feel/react/src/Title/Title.tsx
Labels: component, look'n feel

#564 feat(look-and-feel): title level
  look-and-feel/react/src/Title/Title.mdx
  look-and-feel/react/src/Title/Title.stories.tsx
  look-and-feel/react/src/Title/Title.tsx
  look-and-feel/react/src/Title/TitleWithSubtitles.tsx
  look-and-feel/react/src/Title/__tests__/Title.test.tsx
  look-and-feel/react/src/Title/constants.ts
  look-and-feel/react/src/Title/index.ts
  look-and-feel/react/src/index.ts
Labels: documentation, enhancement, look'n feel

#567 feat(look-and-feel): alert delete margin
  look-and-feel/css/src/Alert/Alert.scss
Labels: enhancement, component, design, look'n feel

#568 fix(look-and-feel): responsive sizes text input
  look-and-feel/css/src/Form/Text/Text.scss
  look-and-feel/css/src/common/common.scss
  look-and-feel/css/src/common/mixins.scss
  look-and-feel/css/src/common/reboot.scss
Labels: enhancement, component, css-package, design, look'n feel

#569 feat(look-and-feel): delete min-width button
  look-and-feel/css/src/Button/Button.scss
  look-and-feel/css/src/Button/Button.stories.ts
Labels: enhancement, component, css-package, design, look'n feel

#546 ci: added release pipelines for slash
  .github/workflows/publish-slash.yml
  GitVersion-slash.yml
  GitVersion.yml
Labels: ci, release

#561 ci: added chromatic deployments
  .github/workflows/chromatic.yml
  look-and-feel/css/.storybook/main.js
  look-and-feel/css/package.json
  look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  look-and-feel/react/package.json
  package-lock.json
  slash/css/.storybook/main.js
  slash/css/package.json
  slash/css/src/icons/icons.stories.ts
  slash/index.html
  slash/react/.storybook/main.ts
  slash/react/package.json
Labels: documentation, ci

#574 fix(lnf/tabs): export enum direction of Tabs
  look-and-feel/react/src/index.ts
Labels: look'n feel
