Repository AxaFrance/design-system, pull requests merged in 2024-07, with the labels that each got.

#378 Feature(client) : create Tag component
  packages/css/src/Tag/Tag.client.scss
  packages/css/src/Tag/Tag.client.stories.ts
  packages/css/src/client.scss
  packages/react/src/Tag/Tag.client.mdx
  packages/react/src/Tag/Tag.client.stories.tsx
  packages/react/src/Tag/Tag.client.tsx
  packages/react/src/Tag/__test__/Tag.client.test.tsx
  packages/react/src/Tag/index.ts
  packages/react/src/client.ts
Labels: component, css-package, look'n feel

#374 Feature(client): create Card component
  .gitignore
  package-lock.json
  package.json
  packages/css/src/Card/Card.client.scss
  packages/css/src/Card/Card.client.stories.ts
  packages/css/src/client.scss
  packages/react/package.json
  packages/react/src/Card/Card.client.mdx
  packages/react/src/Card/Card.client.stories.tsx
  packages/react/src/Card/Card.client.tsx
  packages/react/src/Card/__tests__/Card.client.test.tsx
  packages/react/src/Card/index.ts
  packages/react/src/client.ts
  packages/react/vitest.config.mts
Labels: component, css-package, look'n feel

#347 fix: input text style on error, on hover, on focus and on active
  packages/css/src/Form/Text/Client/Text.client.scss
  packages/css/src/Form/Text/Client/Text.stories.ts
  packages/react/src/Form/Text/Client/Text.stories.tsx
  packages/react/src/Form/Text/Client/Text.tsx
Labels: css-package, look'n feel

#390 Feature(client): create ClickList component
  packages/css/src/Button/Button.client.scss
  packages/css/src/Card/Card.client.scss
  packages/css/src/List/ClickList/ClickList.client.scss
  packages/css/src/List/ClickList/ClickList.client.stories.ts
  packages/css/src/List/List.scss
  packages/css/src/List/List.stories.ts
  packages/css/src/Tabs/Tabs.client.scss
  packages/css/src/client.scss
  packages/css/src/common/common.client.scss
  packages/react/src/List/ClickList/ClickList.client.mdx
  packages/react/src/List/ClickList/ClickList.client.stories.tsx
  packages/react/src/List/ClickList/ClickList.client.tsx
  packages/react/src/List/ClickList/__tests__/ClickList.client.test.tsx
  packages/react/src/List/ClickList/index.ts
  packages/react/src/List/List.stories.tsx
  packages/react/src/List/List.tsx
  packages/react/src/List/__tests__/List.test.tsx
  packages/react/src/client.ts
Labels: component, css-package, look'n feel

#367 feature: create Steps agent component
  packages/css/src/Steps/Steps.scss
  packages/css/src/Steps/Steps.stories.ts
  packages/css/src/agent.scss
  packages/react/src/Steps/Step.tsx
  packages/react/src/Steps/StepBase.tsx
  packages/react/src/Steps/StepCurrent.tsx
  packages/react/src/Steps/StepDisabled.tsx
  packages/react/src/Steps/StepLink.tsx
  packages/react/src/Steps/StepNoLink.tsx
  packages/react/src/Steps/Steps.mdx
  packages/react/src/Steps/Steps.stories.tsx
  packages/react/src/Steps/Steps.tsx
  packages/react/src/Steps/__tests__/Step.spec.tsx
  packages/react/src/Steps/__tests__/__snapshots__/Step.spec.tsx.snap
  packages/react/src/Steps/index.ts
  packages/react/src/Steps/types.d.ts
  packages/react/src/agent.ts
Labels: agent-slash, component, css-package

#397 Feature(client): create ContentTabList component
  packages/css/src/Alert/Alert.client.scss
  packages/css/src/Button/Button.client.scss
  packages/css/src/Form/FileUpload/Client/FileUpload.client.scss
  packages/css/src/List/ContentTabList/ContentTabList.client.scss
  packages/css/src/List/ContentTabList/ContentTabList.client.stories.ts
  packages/css/src/Tag/Tag.client.scss
  packages/css/src/client.scss
  packages/css/src/common/common.client.scss
  packages/react/src/List/ContentTabList/ContentTabList.client.mdx
  packages/react/src/List/ContentTabList/ContentTabList.client.stories.tsx
  packages/react/src/List/ContentTabList/ContentTabList.client.tsx
  packages/react/src/List/ContentTabList/__tests__/ContentTabList.client.test.tsx
  packages/react/src/List/ContentTabList/index.ts
  packages/react/src/client.ts
Labels: component, css-package, look'n feel

#416 Fix: ContentTabList
  packages/css/src/List/ContentTabList/ContentTabList.client.scss
  packages/css/src/List/ContentTabList/ContentTabList.client.stories.ts
  packages/react/src/List/ContentTabList/ContentTabItem/ContentTabItem.client.tsx
  packages/react/src/List/ContentTabList/ContentTabItem/__tests__/ContentTabItem.client.test.tsx
  packages/react/src/List/ContentTabList/ContentTabItem/index.ts
  packages/react/src/List/ContentTabList/ContentTabItem/types.d.ts
  packages/react/src/List/ContentTabList/ContentTabList.client.mdx
  packages/react/src/List/ContentTabList/ContentTabList.client.stories.tsx
  packages/react/src/List/ContentTabList/ContentTabList.client.tsx
  packages/react/src/List/ContentTabList/__tests__/ContentTabList.client.test.tsx
Labels: component, css-package, look'n feel

#420 fix(Paging): add dependencies to useCallbacks
  packages/react/src/Table/Pagination/Paging.tsx
Labels: agent-slash, component

#432 Feature(client): create IconBg component
  packages/css/src/IconBg/IconBg.client.scss
  packages/css/src/IconBg/IconBg.client.stories.ts
  packages/css/src/client.scss
  packages/react/src/IconBg/IconBg.client.mdx
  packages/react/src/IconBg/IconBg.client.stories.tsx
  packages/react/src/IconBg/IconBg.client.tsx
  packages/react/src/IconBg/__tests__/IconBg.client.test.tsx
  packages/react/src/IconBg/index.ts
  packages/react/src/client.ts
Labels: component, css-package, look'n feel
