Repository AxaFrance/design-system, pull requests merged in 2024-01, with the labels that each got.

#50 feat(form): add text input
  .gitignore
  package-lock.json
  packages/css/src/Form/InputText/InputText.agent.scss
  packages/css/src/Form/core/FormCore.agent.scss
  packages/css/src/agent.scss
  packages/css/src/common/grid.scss
  packages/css/src/common/reboot.scss
  packages/react/package.json
  packages/react/src/Form/InputText/Text.mdx
  packages/react/src/Form/InputText/Text.stories.tsx
  packages/react/src/Form/InputText/Text.tsx
  packages/react/src/Form/InputText/TextInput.mdx
  packages/react/src/Form/InputText/TextInput.stories.tsx
  packages/react/src/Form/InputText/TextInput.tsx
  packages/react/src/Form/InputText/index.ts
  packages/react/src/Form/core/Field.tsx
  packages/react/src/Form/core/FieldError.tsx
  packages/react/src/Form/core/FieldForm.tsx
  packages/react/src/Form/core/FieldInput.tsx
  packages/react/src/Form/core/FormClassManager.ts
  packages/react/src/Form/core/HelpMessage.tsx
  packages/react/src/Form/core/InputList.ts
  packages/react/src/Form/core/MessageTypes.ts
  packages/react/src/Form/core/getComponentClassName.ts
  packages/react/src/Form/core/getFirstId.ts
  packages/react/src/Form/core/getOptionClassName.ts
  packages/react/src/Form/core/index.ts
  packages/react/src/Form/core/useInputClassModifier.ts
  packages/react/src/Form/core/useOptionsWithId.ts
  packages/react/src/agent.ts
Labels: agent-slash, component, css-package

#60 ci: add build github action
  .github/workflows/main.yml
  .gitignore
  .npmrc
  package-lock.json
  package.json
  packages/css/src/icons/icons.stories.ts
  packages/react/package.json
  turbo.json
Labels: build

#66 fix(repo): reset package-lock.json
  package-lock.json
Labels: dependencies

#61 build(prettier): fixed endOfLine param & exclusions in css packages
  config/prettier.config.js
  packages/css/package.json
  packages/css/prettier.config.js
  packages/react/package.json
  packages/react/prettier.config.js
  packages/react/src/agent.ts
Labels: build

#78 refactor(form): text input
  packages/css/src/Button/Button.stories.ts
  packages/css/src/Form/Text/InputText.agent.scss
  packages/css/src/Form/Text/Text.stories.ts
  packages/css/src/Form/Text/TextInput.stories.ts
  packages/css/src/agent.scss
  packages/react/src/Form/InputText/Text.mdx
  packages/react/src/Form/InputText/TextInput.mdx
  packages/react/src/Form/InputText/TextInput.stories.tsx
  packages/react/src/Form/Number/Number.tsx
  packages/react/src/Form/Text/Text.mdx
  packages/react/src/Form/Text/Text.stories.tsx
  packages/react/src/Form/Text/Text.tsx
  packages/react/src/Form/Text/TextInput.stories.tsx
  packages/react/src/Form/Text/TextInput.tsx
  packages/react/src/Form/Text/index.ts
  packages/react/src/Form/Text/inputTypes.ts
  packages/react/src/Form/core/FormClassManager.ts
  packages/react/src/Form/core/getComponentClassName.ts
  packages/react/src/Form/core/getOptionClassName.ts
  packages/react/src/agent.ts
Labels: agent-slash

#81 feat(Pass): add Pass input component
  .vscode/settings.json
  package-lock.json
  packages/css/.storybook/main.js
  packages/css/package.json
  packages/css/src/Form/Pass/Pass.agent.scss
  packages/css/src/Form/Pass/Pass.stories.tsx
  packages/css/src/Form/Select/Select.agent.scss
  packages/css/src/Form/Select/Select.agent.stories.ts
  packages/css/src/Form/Text/Text.agent.scss
  packages/css/src/Form/Text/Text.stories.ts
  packages/css/src/Form/Text/TextInput.stories.ts
  packages/css/src/Form/Textarea/Textarea.agent.scss
  packages/css/src/agent.scss
  packages/react/package.json
  packages/react/src/Form/Number/Number.tsx
  packages/react/src/Form/Pass/Pass.mdx
  packages/react/src/Form/Pass/Pass.stories.tsx
  packages/react/src/Form/Pass/Pass.tsx
  packages/react/src/Form/Pass/PassInput.stories.tsx
  packages/react/src/Form/Pass/PassInput.tsx
  packages/react/src/Form/Select/SelectBase.tsx
  packages/react/src/Form/Text/Text.mdx
  packages/react/src/Form/Text/Text.tsx
  packages/react/src/Form/Textarea/Textarea.tsx
  packages/react/src/agent.ts
Labels: agent-slash

#84 feat(Date): add Date component
  packages/css/src/Form/Date/Date.agent.scss
  packages/css/src/agent.scss
  packages/react/src/Form/Date/Date.mdx
  packages/react/src/Form/Date/Date.stories.tsx
  packages/react/src/Form/Date/Date.tsx
  packages/react/src/Form/Date/DateInput.stories.tsx
  packages/react/src/Form/Date/DateInput.tsx
  packages/react/src/Form/Date/index.tsx
  packages/react/src/agent.ts
Labels: agent-slash

#83 feat(checkbox): added the several checkbox components
  packages/css/src/Form/Checkbox/Checkbox.agent.scss
  packages/css/src/Form/Checkbox/Checkbox.stories.ts
  packages/css/src/agent.scss
  packages/css/src/common/icons.scss
  packages/react/src/Form/Checkbox/Checkbox.agent.stories.tsx
  packages/react/src/Form/Checkbox/Checkbox.mdx
  packages/react/src/Form/Checkbox/Checkbox.tsx
  packages/react/src/Form/Checkbox/CheckboxInput.tsx
  packages/react/src/Form/Checkbox/CheckboxItem.tsx
  packages/react/src/Form/Checkbox/CheckboxModes.ts
  packages/react/src/Form/Checkbox/index.ts
  packages/react/src/agent.ts
Labels: agent-slash

#103 refactor(css): move form input components stories into Components folder
  packages/css/src/Form/Checkbox/Checkbox.stories.ts
  packages/css/src/Form/Pass/Pass.stories.tsx
  packages/css/src/Form/Radio/Radio.agent.stories.ts
  packages/css/src/Form/Select/Select.agent.stories.ts
Labels: css-package
