Repository AxaFrance/design-system, pull requests merged in 2025-02, with the labels that each got.

#831 feat: export InputError
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client)

#598 feat(slash): add Link Component
  slash/css/src/Link/Link.scss
  slash/css/src/Link/Link.stories.ts
  slash/css/src/slash.scss
  slash/react/src/Accordion/CollapseCard.tsx
  slash/react/src/Link/Link.mdx
  slash/react/src/Link/Link.stories.tsx
  slash/react/src/Link/Link.tsx
  slash/react/src/Link/__tests__/Link.test.tsx
  slash/react/src/index.ts
Labels: agent-slash, component

#783 docs(adr): add proposals for client architecture and slash roadmap
  docs/decision-records/0003-client-packages-architecture.md
  docs/decision-records/0004-roadpmap-slash.md
Labels: documentation

#802 Package.json
  client/look-and-feel/react/package.json
  slash/react/package.json
Labels: agent-slash, chore, look'n feel (Espace Client), react-package

#837 fix: use @forward because Sass @import rules are deprecated and will …
  client/look-and-feel/css/src/common/common.scss
Labels: look'n feel (Espace Client)

#795 style(slash): change flex basis of restitution value
  slash/css/src/Restitution/Restitution.scss
Labels: agent-slash, css-package

#839 fix(look&feel): radioselect horizontal flexwrap set to wrap
  client/look-and-feel/css/src/Form/Radio/Radio.scss
Labels: look'n feel (Espace Client)

#856 fix(look&feel): radio and checkbox css clip-path for safari
  client/look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  client/look-and-feel/css/src/Form/Radio/Radio.scss
Labels: look'n feel (Espace Client)

#891 fix(look&feel): stylelint
  client/look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  client/look-and-feel/css/src/Form/Radio/Radio.scss
  config/stylelint.config.js
Labels: look'n feel (Espace Client)

#900 chore(workflow): change the sonarqube action
  .github/workflows/main.yml
Labels: chore

#894 fix(L&F): Stepper style
  client/look-and-feel/css/src/Stepper/Stepper.scss
  client/look-and-feel/css/src/Stepper/Stepper.stories.ts
  client/look-and-feel/react/src/Stepper/Stepper.tsx
Labels: component, css-package, look'n feel (Espace Client)

#901 fix(look&feel): allow file upload to have desktop style without dropzone description
  client/look-and-feel/css/src/Form/FileUpload/FileUpload.scss
  client/look-and-feel/react/src/Form/FileUpload/FIleUpload.stories.tsx
  client/look-and-feel/react/src/Form/FileUpload/FileUpload.tsx
Labels: component, css-package, look'n feel (Espace Client)

#888 refactor(look&feel): select native
  apps/look-and-feel-stories/src/Select.stories.tsx
  client/look-and-feel/css/src/Form/Select/Select.scss
  client/look-and-feel/react/package.json
  client/look-and-feel/react/src/Form/Select/CustomOption.tsx
  client/look-and-feel/react/src/Form/Select/DropdownIndicator.tsx
  client/look-and-feel/react/src/Form/Select/Select.tsx
  client/look-and-feel/react/src/Form/Select/arialiveMessagesDefault.ts
  package-lock.json
  package.json
Labels: look'n feel (Espace Client), breaking-change

#909 refactor(L&F): update ContentItemDuo to accept ReactNode as value
  client/look-and-feel/react/src/List/ContentItemDuo/ContentItemDuo.tsx
  client/look-and-feel/react/src/List/ContentItemDuo/__tests__/ContentItemDuo.test.tsx
Labels: component, look'n feel (Espace Client)

#915 fix(slash): use generateId for unique keys in message list
  slash/react/src/Summary/index.tsx
Labels: bug, agent-slash
