Repository AxaFrance/design-system, pull requests merged in 2025-05, with the labels that each got.

#1180 refactor(apollo, look&feel): pick properties types from ItemLabel instead of rewrite all of them
  client/apollo/react/src/Form/TextArea/TextAreaCommon.tsx
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1173 feat(apollo,look&feel): add component ContentItemMono
  apps/apollo-stories/src/components/ContentItemMono/ContentItemMono.mdx
  apps/apollo-stories/src/components/ContentItemMono/ContentItemMono.stories.tsx
  apps/look-and-feel-stories/src/ContentItemMono.mdx
  apps/look-and-feel-stories/src/ContentItemMono.stories.tsx
  apps/look-and-feel-stories/src/ContentItemMono/ContentItemMono.mdx
  apps/look-and-feel-stories/src/ContentItemMono/ContentItemMono.stories.tsx
  client/apollo/css/src/ContentItemMono/ContentItemMonoApollo.scss
  client/apollo/css/src/ContentItemMono/ContentItemMonoCommon.scss
  client/apollo/css/src/ContentItemMono/ContentItemMonoLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/ContentItemMono/ContentItemMonoApollo.tsx
  client/apollo/react/src/ContentItemMono/ContentItemMonoCommon.tsx
  client/apollo/react/src/ContentItemMono/ContentItemMonoCore.tsx
  client/apollo/react/src/ContentItemMono/ContentItemMonoLF.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoApollo.test.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoCommon.test.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoCore.test.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoLF.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/List/ContentItemMono/ContentItemMono.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/ContentItemMono/ContentItemMono.tsx
  client/look-and-feel/react/src/List/ContentItemMono/ContentItemMono.tsx
  client/look-and-feel/react/src/List/ContentItemMono/__tests__/ContentItemMono.test.tsx
  client/look-and-feel/react/src/List/ContentItemMono/constants.ts
  client/look-and-feel/react/src/List/ContentItemMono/index.ts
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1186 fix(apollo, look&feel): ensure that the icon does not shrink in flex layout in ItemMessage
  client/apollo/css/src/Form/ItemMessage/ItemMessageCommon.scss
Labels: bug, css-package, look'n feel (Espace Client), Apollo AXA.fr

#1195 fix(apollo, look&feel): CheckboxCard style
  apps/apollo-stories/src/components/CheckboxCard/CheckboxCard.stories.tsx
  client/apollo/css/src/Form/Checkbox/Checkbox/CheckboxApollo.scss
  client/apollo/css/src/Form/Checkbox/Checkbox/CheckboxCommon.scss
  client/apollo/css/src/Form/Checkbox/Checkbox/CheckboxLF.scss
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardApollo.scss
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardCommon.scss
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardLF.scss
  client/apollo/react/src/Grid/DebugGridApollo.tsx
  client/apollo/react/src/Grid/DebugGridLF.tsx
Labels: css-package, look'n feel (Espace Client), Apollo AXA.fr

#1201 feat(apollo,look&feel): vertical spacing
  client/apollo/css/src/Form/ItemLabel/ItemLabelCommon.scss
Labels: component, look'n feel (Espace Client), Atome, Apollo AXA.fr

#1179 fix(apollo, look&feel): checkbox card ids management
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardApollo.scss
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardCommon.scss
  client/apollo/css/src/Form/Checkbox/CheckboxCard/CheckboxCardLF.scss
  client/apollo/css/src/common/reboot.scss
  client/apollo/react/src/Form/Checkbox/CheckboxCard/CheckboxCardCommon.tsx
  client/apollo/react/src/Form/Checkbox/CheckboxCard/CheckboxCardItem.tsx
  client/apollo/react/src/Form/Checkbox/CheckboxCard/__tests__/CheckboxCard.test.tsx
  client/apollo/react/src/Form/Checkbox/CheckboxCard/__tests__/CheckboxCardItem.test.tsx
  client/apollo/react/src/Form/Checkbox/CheckboxCard/types.d.ts
  client/look-and-feel/css/src/common/reboot.scss
Labels: component, css-package, look'n feel (Espace Client), Apollo AXA.fr
