Repository AxaFrance/design-system, pull requests merged in 2025-03, with the labels that each got.

#935 chore(deps): add @storybook/addon-a11y
  apps/look-and-feel-stories-css/.storybook/main.ts
  apps/look-and-feel-stories-css/package.json
  apps/look-and-feel-stories/.storybook/main.ts
  apps/look-and-feel-stories/package.json
  apps/slash-stories-css/.storybook/main.ts
  apps/slash-stories-css/package.json
  apps/slash-stories/.storybook/main.ts
  apps/slash-stories/package.json
  package-lock.json
Labels: dependencies, accessibility

#946 fix(look&feel): adjust InputError styles to align to the top and avoid it to shrink
  client/look-and-feel/css/src/Form/InputError/InputError.scss
Labels: css-package, look'n feel (Espace Client)

#945 Enhance package.json exports for development and default environments
  client/look-and-feel/css/package.json
  client/look-and-feel/react/package.json
  package.json
  slash/css/package.json
  slash/react/package.json
  turbo.json
Labels: chore

#948 Feature/loader button
  apps/look-and-feel-stories/src/Button.stories.tsx
  client/look-and-feel/react/src/Button/Button.tsx
  client/look-and-feel/react/src/Button/__tests__/Button.test.tsx
Labels: look'n feel (Espace Client), test

#956 feat(look&feel): don't center loader on buttons
  client/look-and-feel/css/src/Button/Button.scss
Labels: design, look'n feel (Espace Client)

#954 fix(look&feel): add filesListLabel, fix file display size and remove spans when empty
  apps/look-and-feel-stories-css/src/FileUpload.stories.ts
  apps/look-and-feel-stories/src/FIleUpload.stories.tsx
  client/look-and-feel/css/src/Form/FileUpload/FileUpload.scss
  client/look-and-feel/react/src/Form/FileUpload/FileUpload.tsx
Labels: component, css-package, look'n feel (Espace Client)

#957 fix(look&feel): elipsis on long option label in select
  apps/look-and-feel-stories/src/Select.stories.tsx
  client/look-and-feel/css/src/Form/Select/Select.scss
Labels: look'n feel (Espace Client)

#947 docs(design-system): update project startup and build instructions in the README
  README.md
Labels: documentation

#962 Add pre-publish script to fix package.json exports
  .github/workflows/publish-apollo.yml
  .github/workflows/publish-look-and-feel.yml
  .github/workflows/publish-slash.yml
  package-lock.json
  package.json
  scripts/pre-publish.js
Labels: bug, chore, ci

#961 feat(design-system): add html preview
  .github/workflows/chromatic.yml
  README.md
  apps/apollo-stories/.storybook/main.ts
  apps/apollo-stories/package.json
  apps/look-and-feel-stories/.storybook/main.ts
  apps/look-and-feel-stories/package.json
  apps/slash-stories/.storybook/main.ts
  apps/slash-stories/package.json
  package-lock.json
  sonar-project.properties
  vitest.config.mts
Labels: documentation, tooling, test

#963 replace fix-package script with pre-publish script in YAML files
  .github/workflows/publish-apollo.yml
  .github/workflows/publish-look-and-feel.yml
  .github/workflows/publish-slash.yml
Labels: bug, ci

#842 chore: create issue templates
  .github/ISSUE_TEMPLATE/accessibility_issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#941 Update lien Figma
  README.md
Labels: documentation, look'n feel (Espace Client), Apollo AXA.fr

#967 feat(apollo,look&feel): loader spinner)
  apps/apollo-stories/src/Spinner/Spinner.mdx
  apps/apollo-stories/src/Spinner/Spinner.stories.tsx
  apps/apollo-stories/src/Spinner/Spinner.story.scss
  apps/apollo-stories/src/Spinner/render.tsx
  apps/look-and-feel-stories-css/src/Loader.stories.ts
  apps/look-and-feel-stories-css/src/Spinner.stories.ts
  apps/look-and-feel-stories/src/Loader.mdx
  apps/look-and-feel-stories/src/Loader.stories.tsx
  apps/look-and-feel-stories/src/Spinner/Spinner.mdx
  apps/look-and-feel-stories/src/Spinner/Spinner.stories.tsx
  apps/look-and-feel-stories/src/Spinner/Spinner.story.scss
  apps/look-and-feel-stories/src/Spinner/render.tsx
  client/apollo/css/src/Loader/Loader.scss
  client/apollo/css/src/Spinner/SpinnerApollo.scss
  client/apollo/css/src/Spinner/SpinnerCommon.scss
  client/apollo/css/src/Spinner/SpinnerLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Button/ButtonCommon.tsx
  client/apollo/react/src/Button/__tests__/Button.test.tsx
  client/apollo/react/src/Loader/Loader.tsx
  client/apollo/react/src/Spinner/SpinnerApollo.tsx
  client/apollo/react/src/Spinner/SpinnerCommon.tsx
  client/apollo/react/src/Spinner/SpinnerLF.tsx
  client/apollo/react/src/Spinner/__tests__/Spinner.test.tsx
  client/apollo/react/src/Svg/__tests__/Svg.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Loader/Loader.scss
  client/look-and-feel/react/src/Form/FileUpload/FileUpload.tsx
  client/look-and-feel/react/src/Loader/Loader.tsx
  client/look-and-feel/react/src/Spinner/Spinner.tsx
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), breaking-change, Atome, Apollo AXA.fr

#970 feat(slash): add navbar props to MenuTitleWrapper and set position on click
  apps/slash-stories/src/Layout/MenuTitleWrapper/MenuTitleWrapper.stories.tsx
  slash/react/src/Layout/Header/MenuTitleWrapper/MenuTitleWrapper.tsx
  slash/react/src/Layout/Header/NavBar/NavBar.tsx
Labels: agent-slash, component

#973 fix(look&feel): fix files list label appearance
  client/look-and-feel/react/src/Form/FileUpload/FileUpload.tsx
Labels: component, look'n feel (Espace Client)

#968 feat(apollo,look&feel): common grid
  apps/apollo-stories/.storybook/main.ts
  apps/apollo-stories/package.json
  apps/apollo-stories/public/grille-look-and-feel.png
  apps/apollo-stories/public/offsets.png
  apps/apollo-stories/src/components/Button/Button.mdx
  apps/apollo-stories/src/components/Button/Button.stories.tsx
  apps/apollo-stories/src/components/Button/Button.story.scss
  apps/apollo-stories/src/components/Button/render.tsx
  apps/apollo-stories/src/components/Spinner/Spinner.mdx
  apps/apollo-stories/src/components/Spinner/Spinner.stories.tsx
  apps/apollo-stories/src/components/Spinner/Spinner.story.scss
  apps/apollo-stories/src/components/Spinner/render.tsx
  apps/apollo-stories/src/components/Svg/Svg.mdx
  apps/apollo-stories/src/components/Svg/Svg.stories.tsx
  apps/apollo-stories/src/components/Svg/Svg.story.scss
  apps/apollo-stories/src/fondations/Grid/DebugGrid.mdx
  apps/apollo-stories/src/fondations/Grid/DebugGrid.stories.tsx
  apps/apollo-stories/src/fondations/Grid/Grid-demo-wireframe.story.scss
  apps/apollo-stories/src/fondations/Grid/Grid.mdx
  apps/apollo-stories/src/fondations/Grid/GridWireframe.stories.ts
  apps/apollo-stories/src/fondations/Grid/components/Card.tsx
  apps/apollo-stories/src/fondations/Grid/components/Offsets.tsx
  apps/apollo-stories/src/fondations/Grid/renderWireframe.tsx
  apps/apollo-stories/src/fondations/breakpoints.scss
  apps/look-and-feel-stories-css/.storybook/preview.ts
  apps/look-and-feel-stories-css/package.json
  apps/look-and-feel-stories-css/src/Grid/Grid.mdx
  apps/look-and-feel-stories-css/src/Grid/GridExampleForm.stories.ts
  apps/look-and-feel-stories-css/src/Grid/GridExamplePage.stories.ts
  apps/look-and-feel-stories-css/src/Grid/GridWireframe.stories.ts
  apps/look-and-feel-stories/src/Grid/DebugGrid.mdx
  apps/look-and-feel-stories/src/Grid/DebugGrid.stories.tsx
  apps/look-and-feel-stories/src/Grid/Grid.mdx
  apps/look-and-feel-stories/src/Grid/GridExampleForm.stories.ts
  apps/look-and-feel-stories/src/Grid/GridExamplePage.stories.ts
  apps/look-and-feel-stories/src/Grid/GridWireframe.stories.ts
  apps/look-and-feel-stories/src/Grid/renderExampleForm.tsx
  apps/look-and-feel-stories/src/Grid/renderExamplePage.tsx
  apps/look-and-feel-stories/src/Grid/renderWireframe.tsx
  client/apollo/css/src/Grid/DebugGrid.scss
  client/apollo/css/src/Grid/Grid.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Grid/DebugGrid.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Grid/DebugGrid.tsx
  package-lock.json
Labels: css-package, look'n feel (Espace Client), Apollo AXA.fr, Fondations

#910 feat(look&feel): implement burger menu and make header responsive
  apps/look-and-feel-stories-css/src/Header.stories.ts
  apps/look-and-feel-stories-css/src/HeaderRender.ts
  apps/look-and-feel-stories/src/Header.stories.tsx
  client/look-and-feel/css/src/Layout/Header/BurgerMenu/BurgerMenu.scss
  client/look-and-feel/css/src/Layout/Header/Header.scss
  client/look-and-feel/css/src/Layout/Header/NavBar/NavBar.scss
  client/look-and-feel/css/src/Layout/Header/PreviousLink/PreviousLink.scss
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Layout/Header/BurgerMenu/BurgerMenu.tsx
  client/look-and-feel/react/src/Layout/Header/BurgerMenu/__tests__/BurgerMenu.test.tsx
  client/look-and-feel/react/src/Layout/Header/BurgerMenu/index.ts
  client/look-and-feel/react/src/Layout/Header/Header.tsx
  client/look-and-feel/react/src/Layout/Header/NavBar/NavBar.tsx
  client/look-and-feel/react/src/Layout/Header/NavBar/__tests__/NavBar.test.tsx
  client/look-and-feel/react/src/Layout/Header/PreviousLink/PreviousLink.tsx
  client/look-and-feel/react/src/Layout/Header/PreviousLink/__tests__/PreviousLink.test.tsx
  client/look-and-feel/react/src/Layout/Header/__tests__/Header.test.tsx
  client/look-and-feel/react/src/Layout/Header/index.ts
  client/look-and-feel/react/src/index.ts
  samples/vite/src/Client.tsx
Labels: look'n feel (Espace Client)

#976 feat(apollo): item message
  apps/apollo-stories/src/ItemMessage/ItemMessage.mdx
  apps/apollo-stories/src/ItemMessage/ItemMessage.stories.tsx
  apps/look-and-feel-stories-css/src/Grid/Grid.mdx
  apps/look-and-feel-stories/src/ItemMessage/ItemMessage.mdx
  apps/look-and-feel-stories/src/ItemMessage/ItemMessage.stories.tsx
  client/apollo/css/package.json
  client/apollo/css/src/Form/ItemMessage/ItemMessageApollo.scss
  client/apollo/css/src/Form/ItemMessage/ItemMessageCommon.scss
  client/apollo/css/src/Form/ItemMessage/ItemMessageLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/ItemMessage/ItemMessageApollo.tsx
  client/apollo/react/src/Form/ItemMessage/ItemMessageCommon.tsx
  client/apollo/react/src/Form/ItemMessage/ItemMessageLF.tsx
  client/apollo/react/src/Form/ItemMessage/__tests__/ItemMessage.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/package.json
  client/look-and-feel/react/package.json
  client/look-and-feel/react/src/Form/ItemMessage/ItemMessage.tsx
  client/look-and-feel/react/src/index.ts
  package-lock.json
  slash/css/package.json
Labels: component, look'n feel (Espace Client), Apollo AXA.fr, Création

#978 docs(look&feel,apollo): update link zeroheight
  README.md
Labels: documentation, look'n feel (Espace Client), Apollo AXA.fr

#1013 feat(slash): add css tokens
  apps/slash-stories-css/.storybook/preview.ts
  apps/slash-stories/.storybook/preview.ts
  slash/css/src/common/tokens.css
  slash/css/src/common/tokens.scss
  slash/react/src/index.ts
Labels: agent-slash, css-package, ux

#1018 ci(design-system): update SonarCloud scan condition to include main branch
  .github/workflows/main.yml
Labels: bug, chore, build, ci

#1022 feat(apollo,look&feel): converge textinput
  apps/apollo-stories/src/components/Text/Text.stories.tsx
  apps/look-and-feel-stories-css/src/Text.mdx
  apps/look-and-feel-stories-css/src/Text.stories.ts
  apps/look-and-feel-stories/src/Text/Text.stories.tsx
  client/apollo/css/src/Form/ItemLabel/ItemLabelCommon.scss
  client/apollo/css/src/Form/TextInput/TextInputApollo.scss
  client/apollo/css/src/Form/TextInput/TextInputCommon.scss
  client/apollo/css/src/Form/TextInput/TextInputLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/TextInput/TextInputApollo.tsx
  client/apollo/react/src/Form/TextInput/TextInputCommon.tsx
  client/apollo/react/src/Form/TextInput/TextInputLF.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/apollo/react/src/utilities/getComponentClassName.ts
  client/look-and-feel/css/src/Form/TextArea/TextArea.scss
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Form/Text/Text.tsx
  client/look-and-feel/react/src/Form/Text/index.ts
  client/look-and-feel/react/src/Form/TextArea/TextArea.tsx
  client/look-and-feel/react/src/index.ts
Labels: component, css-package, look'n feel (Espace Client), Apollo AXA.fr, Organisme

#1019 docs(design-system): add recommanded extensions for vscode
  .vscode/extensions.json
Labels: chore

#1035 test(slash): add test for slash react badge component
  slash/react/src/Badge/__tests__/Badge.test.tsx
Labels: agent-slash, test

#1038 fix(slash): change text color for header and user link
  slash/css/src/Layout/Header/Name/Name.scss
  slash/css/src/Layout/Header/User/User.scss
Labels: agent-slash, component, ux

#1040 feat(slash): [a11y] Slash - Alert - Close button should have better a…
  apps/slash-stories/src/Alert.stories.tsx
  slash/react/src/Alert/Alert.tsx
Labels: agent-slash, accessibility

#1042 fix(slash): add heading tags in header restitution and section restit…
  slash/react/src/Restitution/HeaderRestitution.tsx
  slash/react/src/Restitution/SectionRestitutionTitle.tsx
  slash/react/src/Restitution/__tests__/Restitution.spec.tsx
Labels: agent-slash, accessibility

#1043 fix(slash): added border on focus for select
  slash/css/src/Form/Select/Select.scss
Labels: bug, agent-slash

#1051 fix(slash): modification des icones du composant complex title du header
  apps/slash-stories/src/Layout/HeaderTitle/HeaderTitle.stories.tsx
  slash/css/src/Layout/Header/HeaderTitle/HeaderTitle.scss
Labels: agent-slash, component, ux

#1058 fix(slash): update css header
  slash/css/src/Layout/Header/HeaderTitle/HeaderTitle.scss
  slash/css/src/common/common.scss
Labels: agent-slash, component, ux

#1064 test(slash): add test for Choice component
  slash/react/src/Form/Choice/__test__/Choice.test.tsx
  slash/react/src/Form/Choice/__test__/ChoiceInput.test.tsx
Labels: agent-slash, test

#1044 chore(design-system): fix issue template
  .github/ISSUE_TEMPLATE/1-slash_bug_report.md
  .github/ISSUE_TEMPLATE/2-look&feel_bug_report.md
  .github/ISSUE_TEMPLATE/3-apollo_bug_report.md
  .github/ISSUE_TEMPLATE/4-slash_accessibility_issue.md
  .github/ISSUE_TEMPLATE/5-look&feel_accessibility_issue.md
  .github/ISSUE_TEMPLATE/6-apollo_accessibility_issue.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#1069 feat(slash): modification du style de la checkbox en erreur
  apps/slash-stories/src/Form/Checkbox.stories.tsx
  slash/css/src/Form/Checkbox/Checkbox.scss
  slash/css/src/common/common.scss
  slash/react/src/Form/Checkbox/CheckboxInput.tsx
Labels: agent-slash, component, ux
