Repository AxaFrance/design-system, pull requests merged in 2025-09, with the labels that each got.

#1438 fix(apollo,look&feel): refacto and fix focus
  apps/apollo-stories/src/components/TextArea/TextArea.stories.tsx
  apps/look-and-feel-stories/src/Textarea/TextArea.stories.tsx
  client/apollo/css/src/Form/TextArea/TextAreaApollo.scss
  client/apollo/css/src/Form/TextArea/TextAreaCommon.scss
  client/apollo/css/src/Form/TextArea/TextAreaLF.scss
  client/apollo/css/src/common/reboot.scss
  client/apollo/react/src/Form/TextArea/TextAreaCommon.tsx
  client/look-and-feel/css/src/common/reboot.scss
Labels: bug, look'n feel (Espace Client), Apollo AXA.fr

#1443 fix(apollo,look&feel): delete margin
  apps/apollo-stories/src/components/Dropdown/Dropdown.mdx
  apps/apollo-stories/src/components/Dropdown/Dropdown.stories.tsx
  apps/look-and-feel-stories/src/Dropdown/Dropdown.mdx
  apps/look-and-feel-stories/src/Dropdown/Dropdown.stories.tsx
  client/apollo/css/src/Form/Dropdown/DropdownCommon.scss
Labels: bug, look'n feel (Espace Client), Apollo AXA.fr

#1447 fix(slash): use proper variants for Accordion component
  apps/slash-stories/src/Accordion.mdx
  apps/slash-stories/src/Accordion.stories.tsx
  docs/changelogs/slash/CHANGELOG_v2.0.0.md
  slash/react/src/Accordion/Accordion.tsx
  slash/react/src/Accordion/CollapseCard.tsx
  slash/react/src/Accordion/Header.tsx
  slash/react/src/Accordion/types.d.ts
Labels: agent-slash

#1463 fix(design-system): error in needs name output
  .github/workflows/publish-storybook-client.yml
  .github/workflows/publish-storybook-slash.yml
  .github/workflows/publish.yml
Labels: bug, agent-slash, look'n feel (Espace Client), ci, release, Apollo AXA.fr, gh-actions

#1453 feat(look&feel,apollo): init contentItemDuoAction #862
  apps/apollo-stories/src/components/ContentItemDuoAction/ContentItemDuoAction.stories.tsx
  apps/apollo-stories/src/components/ContentItemMono/ContentItemMono.stories.tsx
  apps/look-and-feel-stories/src/ContentItemDuoAction/ContentItemDuoAction.stories.tsx
  apps/look-and-feel-stories/src/ContentItemMono/ContentItemMono.stories.tsx
  client/apollo/css/src/ContentItemDuoAction/ContentItemDuoActionCommon.scss
  client/apollo/react/src/ContentItemDuoAction/ContentItemDuoActionApollo.tsx
  client/apollo/react/src/ContentItemDuoAction/ContentItemDuoActionCommon.tsx
  client/apollo/react/src/ContentItemDuoAction/ContentItemDuoActionLF.tsx
  client/apollo/react/src/ContentItemDuoAction/__tests__/ContentItemDuoAction.test.tsx
  client/apollo/react/src/ContentItemMono/ContentItemMonoCommon.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoCommon.test.tsx
  client/apollo/react/src/Toggle/ToggleCommon.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr, Organisme
