Repository AxaFrance/design-system, pull requests merged in 2025-08, with the labels that each got.

#1303 feat(slash): upgrade MultiSelect
  apps/slash-stories/src/Form/MultiSelect.stories.tsx
  package-lock.json
  slash/css/src/Form/MultiSelect/MultiSelect.scss
  slash/react/package.json
  slash/react/src/Form/MultiSelect/FormatOptionLabel.tsx
  slash/react/src/Form/MultiSelect/MultiSelect.tsx
  slash/react/src/Form/MultiSelect/MultiSelect.types.d.ts
  slash/react/src/Form/MultiSelect/NoOptionsMessage.tsx
  slash/react/src/Form/MultiSelect/ValueContainer.tsx
  slash/react/src/Form/MultiSelect/__tests__/MultiSelect.spec.tsx
  slash/react/src/Form/MultiSelect/__tests__/MultiSelectInput.spec.tsx
  slash/react/src/Form/MultiSelect/__tests__/__snapshots__/MultiSelect.spec.tsx.snap
  slash/react/src/Form/MultiSelect/__tests__/__snapshots__/MultiSelectInput.spec.tsx.snap
  slash/react/src/Form/MultiSelect/useMultiSelectStyle.ts
Labels: enhancement, agent-slash, component, design

#1356 feat(slash): ajout du composant Divider avec ses variantes
  apps/slash-stories/src/Divider.mdx
  apps/slash-stories/src/Divider.stories.tsx
  slash/css/src/Divider/Divider.css
  slash/css/src/slash.scss
  slash/react/src/Divider/Divider.tsx
  slash/react/src/Divider/__tests__/Divider.test.tsx
  slash/react/src/index.ts
Labels: agent-slash, component, ux

#1376 feat(slash): add string contentRight to VerticalStep
  apps/slash-stories/src/VerticalStep.mdx
  apps/slash-stories/src/VerticalStep.stories.tsx
  slash/css/src/Steps/VerticalStep.css
  slash/react/src/Steps/VerticalStep.tsx
  slash/react/src/Steps/__tests__/VerticalStep.spec.tsx
  slash/react/src/Title/Title.tsx
Labels: agent-slash, component, design

#1358 feat(slash): add Container component
  apps/slash-stories/src/Layout/MainContainer/MainContainer.mdx
  apps/slash-stories/src/Layout/MainContainer/MainContainer.stories.tsx
  slash/css/src/Layout/Footer/Footer.css
  slash/css/src/Layout/Footer/Footer.scss
  slash/css/src/Layout/Header/AnchorNavBar/AnchorNavBar.css
  slash/css/src/Layout/Header/HeaderTitle/HeaderTitle.scss
  slash/css/src/Layout/Header/NavBar/NavBar.scss
  slash/css/src/Layout/MainContainer/MainContainer.css
  slash/css/src/common/breakpoints.css
  slash/css/src/slash.scss
  slash/react/src/Layout/Footer/Footer.tsx
  slash/react/src/Layout/Header/AnchorNavBar/AnchorNavBar.tsx
  slash/react/src/Layout/Header/Header.tsx
  slash/react/src/Layout/Header/HeaderTitle/HeaderTitle.tsx
  slash/react/src/Layout/Header/NavBar/NavBarBase.tsx
  slash/react/src/Layout/Header/NavBar/index.ts
  slash/react/src/Layout/MainContainer/MainContainer.tsx
  slash/react/src/Layout/MainContainer/__tests__/MainContainer.spec.tsx
  slash/react/src/index.ts
Labels: agent-slash, component, ux

#1073 fix(slash): corrections de marge et icon material
  slash/css/src/Layout/Header/Infos/Infos.scss
  slash/react/src/Layout/Header/Infos/Infos.tsx
Labels: agent-slash, component, ux

#1398 fix(slash): rename green color tokens (green40 becomes green30 and gr…
  slash/css/src/Button/Button.scss
  slash/css/src/Message/Message.css
  slash/css/src/Steps/Steps.scss
  slash/css/src/Steps/VerticalStep.css
  slash/css/src/common/tokens.css
Labels: agent-slash, ux

#1402 fix(slash): anchorNavBar shadow on appropriate element
  slash/css/src/Layout/Header/AnchorNavBar/AnchorNavBar.css
  slash/css/src/Layout/Header/HeaderTitle/HeaderTitle.scss
  slash/react/src/Layout/Header/HeaderTitle/HeaderTitle.tsx
Labels: agent-slash, ux

#1066 feat(slash): add new tag component
  apps/slash-stories/src/Badge.mdx
  apps/slash-stories/src/Badge.stories.tsx
  apps/slash-stories/src/Tag.mdx
  apps/slash-stories/src/Tag.stories.tsx
  slash/css/src/Badge/Badge.scss
  slash/css/src/Tag/Tag.scss
  slash/css/src/slash.scss
  slash/react/src/Badge/Badge.tsx
  slash/react/src/Badge/__tests__/Badge.test.tsx
  slash/react/src/Layout/Header/HeaderTitle/HeaderTitle.spec.tsx
  slash/react/src/Tag/Tag.tsx
  slash/react/src/Tag/__tests__/Tag.test.tsx
  slash/react/src/index.ts
  slash/react/src/utilities/helpers/getComponentClassName.ts
Labels: agent-slash, component, design, ux

#1405 fix(slash): put back info variant to avoid breaking change
  slash/css/src/Tag/Tag.scss
  slash/react/src/Tag/Tag.tsx
Labels: agent-slash

#1408 feat(apollo,look&feel): move footer to apollo directory (no refacto)
  apps/apollo-stories/src/components/Footer/Footer.mdx
  apps/apollo-stories/src/components/Footer/Footer.stories.tsx
  apps/look-and-feel-stories/src/Footer/Footer.mdx
  apps/look-and-feel-stories/src/Footer/Footer.stories.tsx
  client/apollo/css/files/assets/facebook.svg
  client/apollo/css/files/assets/linkedin.svg
  client/apollo/css/files/assets/twitterx.svg
  client/apollo/css/files/assets/youtube.svg
  client/apollo/css/package.json
  client/apollo/css/src/Layout/Footer/FooterApollo.scss
  client/apollo/css/src/Layout/Footer/FooterCommon.scss
  client/apollo/css/src/Layout/Footer/FooterLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Layout/Footer/DynamicIcons.tsx
  client/apollo/react/src/Layout/Footer/FooterApollo.tsx
  client/apollo/react/src/Layout/Footer/FooterCommon.tsx
  client/apollo/react/src/Layout/Footer/FooterLF.tsx
  client/apollo/react/src/Layout/Footer/MenuIcons.tsx
  client/apollo/react/src/Layout/Footer/MenuLink.tsx
  client/apollo/react/src/Layout/Footer/__tests__/Footer.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Layout/Footer/Footer.tsx
  client/look-and-feel/react/src/Layout/Footer/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1335 feat(slash): add CardData component
  apps/slash-stories/src/CardData.mdx
  apps/slash-stories/src/CardData.stories.tsx
  slash/css/src/CardData/CardData.css
  slash/css/src/slash.scss
  slash/react/src/CardData/CardData.tsx
  slash/react/src/CardData/CardDataHeader.tsx
  slash/react/src/CardData/__tests__/CardData.spec.tsx
  slash/react/src/index.ts
Labels: enhancement, agent-slash, component, design

#1403 docs(slash): changelog for slash version 2.0.0
  docs/changelogs/slash/CHANGELOG_v2.0.0.md
  docs/changelogs/slash/images/anchor_navbar_v2.0.0.png
  docs/changelogs/slash/images/card_component_v2.0.0.png
  docs/changelogs/slash/images/card_data_component_v2.0.0.png
  docs/changelogs/slash/images/headerTitle_component_v2.0.0.png
  docs/changelogs/slash/images/multi_select_v2.0.0.png
  docs/changelogs/slash/images/radio_card_v2.0.0.png
  docs/changelogs/slash/images/vertical_step_v2.0.0.png
  docs/changelogs/slash/index.md
Labels: documentation, agent-slash
