Repository AxaFrance/design-system, pull requests merged in 2025-01, with the labels that each got.

#717 feat(slash): add property rel='noopener noreferrer' on Footer axa logo
  slash/react/src/Layout/Footer/Footer.tsx
Labels: enhancement, agent-slash

#724 build(deps): bump react-select from 5.8.0 to 5.9.0
  look-and-feel/react/package.json
  package-lock.json
  slash/react/package.json
Labels: agent-slash, dependencies, look'n feel, react19

#730 feat(Grid): add isCheckedByDefault prop to DebugGrid component
  look-and-feel/react/src/Grid/DebugGrid.stories.tsx
  look-and-feel/react/src/Grid/DebugGrid.tsx
  look-and-feel/react/src/Grid/renderExampleForm.tsx
  look-and-feel/react/src/Grid/renderExamplePage.tsx
  look-and-feel/react/src/Grid/renderWireframe.tsx
Labels: component, look'n feel

#734 fix(look&feel): radioselect checked and aria-checked always defined
  look-and-feel/react/src/Form/Radio/RadioSelect.tsx
Labels: look'n feel

#720 refactor(slash): migrate from popperjs to floating-ui for Popover component
  package-lock.json
  slash/css/src/Popover/Popover.scss
  slash/react/package.json
  slash/react/src/HelpButton/demo.scss
  slash/react/src/Popover/AnimatedPopover.tsx
  slash/react/src/Popover/Popover.mdx
  slash/react/src/Popover/Popover.stories.tsx
  slash/react/src/Popover/Popover.tsx
  slash/react/src/Popover/Popover.types.ts
  slash/react/src/Popover/PopoverBase.tsx
  slash/react/src/Popover/index.ts
Labels: agent-slash, dependencies, react19

#746 fix(slash): fix console warning when using Infos component when id is not provided
  slash/react/src/Layout/Header/Infos/Infos.tsx
  slash/react/src/utilities/helpers/__tests__/generateId.test.ts
  slash/react/src/utilities/helpers/generateId.ts
Labels: bug, agent-slash

#752 fix(lnf): add af-form__label-container div and remove margin from style
  client/look-and-feel/css/src/Form/TextArea/TextArea.scss
  client/look-and-feel/react/src/Form/TextArea/TextArea.tsx
Labels: bug, css-package, look'n feel

#771 feat(look-and-feel): ajout de l'id au label Text.tsx pour le lien avec l'aria-labelledby du input
  client/look-and-feel/react/src/Form/Text/Text.tsx
Labels: look'n feel

#775 fix(alert): stop to set the font-weight of ghost button to 400 in alert
  client/look-and-feel/css/src/Alert/Alert.scss
  client/look-and-feel/css/src/Alert/Alert.stories.ts
  client/look-and-feel/react/src/Alert/Alert.tsx
Labels: bug, component, css-package, look'n feel

#781 feat(look&feel): refonte modal
  client/look-and-feel/css/src/Button/render.ts
  client/look-and-feel/css/src/Modal/Modal.scss
  client/look-and-feel/css/src/Modal/Modal.stories.ts
  client/look-and-feel/css/src/Modal/render.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/css/src/utils/index.ts
  client/look-and-feel/react/src/Modal/Modal.mdx
  client/look-and-feel/react/src/Modal/Modal.stories.tsx
  client/look-and-feel/react/src/Modal/Modal.tsx
  client/look-and-feel/react/src/Modal/ModalCore.stories.tsx
  client/look-and-feel/react/src/Modal/ModalCore.tsx
  client/look-and-feel/react/src/Modal/__tests__/Modal.test.tsx
  client/look-and-feel/react/src/Modal/components/ModalCoreBody.tsx
  client/look-and-feel/react/src/Modal/components/ModalCoreFooter.tsx
  client/look-and-feel/react/src/Modal/components/ModalCoreHeader.tsx
  client/look-and-feel/react/src/Modal/components/__tests__/ModalCoreBody.test.tsx
  client/look-and-feel/react/src/Modal/components/__tests__/ModalCoreFooter.test.tsx
  client/look-and-feel/react/src/Modal/components/__tests__/ModalCoreHeader.test.tsx
  client/look-and-feel/react/src/Modal/index.tsx
  client/look-and-feel/react/src/ModalClient/Modal.container.tsx
  client/look-and-feel/react/src/ModalClient/Modal.hook.ts
  client/look-and-feel/react/src/ModalClient/Modal.mdx
  client/look-and-feel/react/src/ModalClient/Modal.stories.tsx
  client/look-and-feel/react/src/ModalClient/Modal.tsx
  client/look-and-feel/react/src/ModalClient/__tests__/Modal.test.tsx
  client/look-and-feel/react/src/ModalClient/index.ts
  client/look-and-feel/react/src/ModalClient/type.ts
  client/look-and-feel/react/src/index.ts
Labels: bug, component, css-package, look'n feel, breaking-change

#789 fix(look&feel): accept an external id for error via aria-errormessage
  client/look-and-feel/react/src/Form/Text/Text.stories.tsx
  client/look-and-feel/react/src/Form/Text/Text.tsx
Labels: look'n feel

#788 test(slash): fix vitest coverage
  slash/react/vitest.config.ts
Labels: agent-slash, test

#785 test(slash): fix group textarea stories
  slash/react/src/Form/Textarea/Textarea.mdx
  slash/react/src/Form/Textarea/TextareaInput.mdx
  slash/react/src/Form/Textarea/TextareaInput.stories.tsx
Labels: agent-slash, test

#786 chore(deps): bump react and react-dom from 18.3.x to 19.0.0
  package-lock.json
  package.json
  samples/vite/package.json
  samples/vite/src/Agent.tsx
  samples/vite/src/App.css
  samples/vite/src/App.tsx
  samples/vite/src/main.tsx
Labels: agent-slash, dependencies, look'n feel

#792 fix(look&feel): clip-path on svg to allow outline for accessibility t…
  client/look-and-feel/css/src/Form/Checkbox/Checkbox.scss
  client/look-and-feel/css/src/Form/Radio/Radio.scss
Labels: bug, look'n feel

#793 fix(look&feel): text focus and outline
  client/look-and-feel/css/src/Form/Text/Text.scss
Labels: design, look'n feel

#796 fix(lint): fix some linting errors
  client/look-and-feel/react/src/Modal/Modal.stories.tsx
  slash/react/src/Form/Select/__tests__/Select.test.tsx
  slash/react/src/Form/Select/__tests__/SelectInput.test.tsx
  slash/react/src/Form/Textarea/Textarea.mdx
Labels: agent-slash, look'n feel (Espace Client)

#799 fix(slash): fix deprecation of use nth sass method
  slash/css/src/Badge/Badge.scss
Labels: agent-slash, css-package

#820 fix(slash): fix format input date
  slash/react/src/Form/Date/Date.tsx
  slash/react/src/utilities/helpers/__tests__/date.test.ts
  slash/react/src/utilities/helpers/date.ts
Labels: bug, agent-slash

#823 feat(lnf): add side button to TextInput component
  client/look-and-feel/css/src/Form/Text/Text.scss
  client/look-and-feel/css/src/Form/Text/Text.stories.ts
  client/look-and-feel/react/src/Form/Text/Text.stories.tsx
  client/look-and-feel/react/src/Form/Text/Text.tsx
Labels: component, css-package, look'n feel (Espace Client)
