Repository AxaFrance/design-system, pull requests merged in 2025-07, with the labels that each got.

#1191 [AXA.fr] [Espace Client] [Organisme] Evolution/Création du composant "Item_File"
  apps/apollo-stories/src/components/ItemFile/ItemFile.mdx
  apps/apollo-stories/src/components/ItemFile/ItemFile.stories.tsx
  apps/look-and-feel-stories/src/ItemFile/ItemFile.mdx
  apps/look-and-feel-stories/src/ItemFile/ItemFile.stories.tsx
  client/apollo/css/src/Form/ItemFile/ItemFileApollo.scss
  client/apollo/css/src/Form/ItemFile/ItemFileCommon.scss
  client/apollo/css/src/Form/ItemFile/ItemFileLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/ItemFile/ItemFileApollo.tsx
  client/apollo/react/src/Form/ItemFile/ItemFileCommon.tsx
  client/apollo/react/src/Form/ItemFile/ItemFileLF.tsx
  client/apollo/react/src/Form/ItemFile/ItemStateIcon.tsx
  client/apollo/react/src/Form/ItemFile/__tests__/ItemFile.test.tsx
  client/apollo/react/src/Form/ItemFile/types.ts
  client/apollo/react/src/Spinner/SpinnerCommon.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/Form/ItemFile/ItemFile.tsx
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr, molecule

#1310 feat(apollo,look&feel): composant click item
  apps/apollo-stories/src/components/ClickItem/ClickItem.mdx
  apps/apollo-stories/src/components/ClickItem/ClickItem.stories.tsx
  apps/apollo-stories/src/components/List/ContentItemDuo/ContentItemDuo.mdx
  apps/apollo-stories/src/components/List/ContentItemDuo/ContentItemDuo.stories.tsx
  apps/look-and-feel-stories/src/ClickItem.mdx
  apps/look-and-feel-stories/src/ClickItem.stories.tsx
  apps/look-and-feel-stories/src/ClickItem/ClickItem.mdx
  apps/look-and-feel-stories/src/ClickItem/ClickItem.stories.tsx
  client/apollo/css/src/List/ClickItem/ClickItemApollo.scss
  client/apollo/css/src/List/ClickItem/ClickItemCommon.scss
  client/apollo/css/src/List/ClickItem/ClickItemLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/List/ClickItem/ClickItemApollo.tsx
  client/apollo/react/src/List/ClickItem/ClickItemCommon.tsx
  client/apollo/react/src/List/ClickItem/ClickItemLF.tsx
  client/apollo/react/src/List/ClickItem/__tests__/ClickItem.test.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemContentApollo.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemContentCommon.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemContentLF.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemPrefixApollo.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemPrefixCommon.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemPrefixLF.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemSuffixAppollo.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemSuffixCommon.tsx
  client/apollo/react/src/List/ClickItem/components/ClickItemSuffixLF.tsx
  client/apollo/react/src/List/ClickItem/types.d.ts
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr, molecule

#1316 fix(apollo, look&feel): use ref frow forwardRef in InputText
  client/apollo/react/src/Form/InputText/InputTextCommon.tsx
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1302 feat(slash): component Message has better contrast
  apps/slash-stories/src/Alert.mdx
  apps/slash-stories/src/Alert.stories.tsx
  apps/slash-stories/src/Message.mdx
  apps/slash-stories/src/Message.stories.tsx
  docs/CHANGELOG-SLASH.MD
  samples/vite/src/Agent.tsx
  slash/css/src/Alert/Alert.scss
  slash/css/src/Message/Message.css
  slash/css/src/slash.scss
  slash/react/src/Alert/Alert.tsx
  slash/react/src/Alert/__tests__/Alert.test.tsx
  slash/react/src/Messages/Message.tsx
  slash/react/src/Messages/__tests__/Message.test.tsx
  slash/react/src/Summary/index.tsx
  slash/react/src/index.ts
  slash/react/src/utilities/helpers/getComponentClassName.ts
Labels: enhancement, agent-slash, component, design

#1304 feat(slash): add AnchorNavbar component for HeaderTitle
  apps/slash-stories/src/Layout/HeaderTitle/HeaderTitle.mdx
  apps/slash-stories/src/Layout/HeaderTitle/HeaderTitle.stories.tsx
  slash/css/src/Layout/Header/AnchorNavBar/AnchorNavBar.css
  slash/css/src/Layout/Header/HeaderTitle/HeaderTitle.scss
  slash/css/src/slash.scss
  slash/react/src/Layout/Header/AnchorNavBar/AnchorNavBar.tsx
  slash/react/src/Layout/Header/AnchorNavBar/__tests__/AnchorNavBar.spec.tsx
  slash/react/src/Layout/Header/HeaderTitle/HeaderTitle.tsx
  slash/react/src/Layout/Header/HeaderTitle/__tests__/HeaderTitle.spec.tsx
Labels: enhancement, agent-slash, component, design

#1278 [Slash]: ajout du composant card button
  apps/slash-stories/src/Card.mdx
  apps/slash-stories/src/Card.stories.tsx
  slash/css/src/Card/Card.css
  slash/react/src/Card/Card.tsx
  slash/react/src/Card/__tests__/Card.test.tsx
  slash/react/src/Svg/Svg.tsx
  slash/react/src/index.ts
Labels: enhancement, agent-slash, component, design

#1320 test(InputError) : add new test for InputError.tsx
  client/look-and-feel/react/src/Form/InputError/__tests__/InputError.test.tsx
Labels: look'n feel (Espace Client), test

#1314 feat(apollo,look&feel): Modifier la police du composant TextArea sur l'etat default
  client/apollo/css/src/Form/TextArea/TextAreaApollo.scss
  client/apollo/css/src/Form/TextArea/TextAreaCommon.scss
  client/apollo/css/src/Form/TextArea/TextAreaLF.scss
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1330 test(InputUpload): add new test for InputUpload.tsx
  client/look-and-feel/react/src/Form/FileUpload/__tests__/FileUpload.test.tsx
Labels: look'n feel (Espace Client), test

#1346 feat(apollo,look&feel): Modifier le gap et la couleur du spinner - Item file
  client/apollo/css/src/Form/ItemFile/ItemFileCommon.scss
  client/apollo/css/src/Form/ItemFile/ItemFileLF.scss
Labels: bug, look'n feel (Espace Client)

#1343 fix(apollo): correct arrow direction for accordion component
  client/apollo/react/src/AccordionCore/AccordionCoreCommon.tsx
Labels: Apollo AXA.fr

#1339 fix(slash): use contentLeft Title property instead of children for mo…
  slash/css/src/Steps/VerticalStep.css
  slash/react/src/Steps/VerticalStep.tsx
Labels: agent-slash, ux

#1323 feat(apollo,look&feel): ajout de composant data agent
  apps/apollo-stories/src/components/DataAgent/DataAgent.mdx
  apps/apollo-stories/src/components/DataAgent/DataAgent.stories.tsx
  apps/look-and-feel-stories/src/DataAgent/DataAgent.mdx
  apps/look-and-feel-stories/src/DataAgent/DataAgent.stories.tsx
  client/apollo/css/src/DataAgent/DataAgentApollo.scss
  client/apollo/css/src/DataAgent/DataAgentCommon.scss
  client/apollo/css/src/DataAgent/DataAgentLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/DataAgent/DataAgentApollo.tsx
  client/apollo/react/src/DataAgent/DataAgentCommon.tsx
  client/apollo/react/src/DataAgent/DataAgentLF.tsx
  client/apollo/react/src/DataAgent/__tests__/DataAgent.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr, Organisme

#1363 fix(apollo,look&feel): modifier le hover du variant small pour le ClickItem
  client/apollo/css/src/List/ClickItem/ClickItemCommon.scss
  client/apollo/react/src/List/ClickItem/components/ClickItemContentCommon.tsx
Labels: bug, component, look'n feel (Espace Client), Apollo AXA.fr

#1351 fix(look&feel, apollo): allow to use react hook form register on card checkbox
  client/apollo/react/src/Form/Checkbox/CardCheckbox/CardCheckboxCommon.tsx
  client/apollo/react/src/Form/Checkbox/Checkbox/CheckboxCommon.tsx
  samples/vite/src/Client.tsx
Labels: component, look'n feel (Espace Client), Apollo AXA.fr
