Repository AxaFrance/design-system, pull requests merged in 2025-06, with the labels that each got.

#1206 feat(apollo,look&feel)!: evol composant InputDate
  apps/apollo-stories/src/components/InputDate/InputDate.stories.tsx
  apps/look-and-feel-stories/src/InputDate/InputDate.stories.tsx
  client/apollo/css/src/Form/DateInput/DateInputApollo.scss
  client/apollo/css/src/Form/DateInput/DateInputCommon.scss
  client/apollo/css/src/Form/DateInput/DateInputLF.scss
  client/apollo/css/src/Form/InputDate/InputDateApollo.scss
  client/apollo/css/src/Form/InputDate/InputDateCommon.scss
  client/apollo/css/src/Form/InputDate/InputDateLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/DateInput/DateInput.helper.ts
  client/apollo/react/src/Form/DateInput/__tests__/DateInput.helper.test.tsx
  client/apollo/react/src/Form/DateInput/__tests__/DateInput.test.tsx
  client/apollo/react/src/Form/InputDate/InputDate.helper.ts
  client/apollo/react/src/Form/InputDate/InputDateApollo.tsx
  client/apollo/react/src/Form/InputDate/InputDateCommon.tsx
  client/apollo/react/src/Form/InputDate/InputDateLF.tsx
  client/apollo/react/src/Form/InputDate/__tests__/InputDate.helper.test.tsx
  client/apollo/react/src/Form/InputDate/__tests__/InputDate.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/Form/Date/Date.tsx
  client/look-and-feel/react/src/Form/InputDate/InputDate.tsx
  client/look-and-feel/react/src/index.ts
Labels: css-package, look'n feel (Espace Client), breaking-change, Apollo AXA.fr

#1140 [Slash] fix select choice issue #610
  slash/react/src/Form/Choice/Choice.tsx
  slash/react/src/Form/Choice/ChoiceInput.tsx
  slash/react/src/Form/Choice/__tests__/ChoiceInput.spec.tsx
Labels: agent-slash

#1109 feat(apollo,look&feel)!: implement Radio et Radio Card
  apps/apollo-stories/src/components/Radio/Radio.mdx
  apps/apollo-stories/src/components/Radio/Radio.stories.tsx
  apps/apollo-stories/src/components/RadioCard/RadioCard.mdx
  apps/apollo-stories/src/components/RadioCard/RadioCard.stories.tsx
  apps/look-and-feel-stories-css/src/Checkbox.stories.ts
  apps/look-and-feel-stories/src/Grid/renderExampleForm.tsx
  apps/look-and-feel-stories/src/Radio.mdx
  apps/look-and-feel-stories/src/Radio/Radio.mdx
  apps/look-and-feel-stories/src/Radio/Radio.stories.tsx
  apps/look-and-feel-stories/src/RadioCard/RadioCard.mdx
  apps/look-and-feel-stories/src/RadioCard/RadioCard.stories.tsx
  apps/look-and-feel-stories/src/RadioSelect.stories.tsx
  client/apollo/css/src/Form/Radio/Radio/RadioApollo.scss
  client/apollo/css/src/Form/Radio/Radio/RadioCommon.scss
  client/apollo/css/src/Form/Radio/Radio/RadioLF.scss
  client/apollo/css/src/Form/Radio/RadioCard/RadioCardApollo.scss
  client/apollo/css/src/Form/Radio/RadioCard/RadioCardCommon.scss
  client/apollo/css/src/Form/Radio/RadioCard/RadioCardLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/Radio/Radio/RadioApollo.tsx
  client/apollo/react/src/Form/Radio/Radio/RadioCommon.tsx
  client/apollo/react/src/Form/Radio/Radio/RadioLF.tsx
  client/apollo/react/src/Form/Radio/Radio/__tests__/Radio.test.tsx
  client/apollo/react/src/Form/Radio/RadioCard/RadioCardApollo.tsx
  client/apollo/react/src/Form/Radio/RadioCard/RadioCardCommon.tsx
  client/apollo/react/src/Form/Radio/RadioCard/RadioCardLF.tsx
  client/apollo/react/src/Form/Radio/RadioCard/__tests__/RadioCard.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Form/Radio/Radio.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Form/Radio/Radio.tsx
  client/look-and-feel/react/src/Form/Radio/RadioCard.tsx
  client/look-and-feel/react/src/Form/Radio/RadioSelect.tsx
  client/look-and-feel/react/src/Form/Radio/index.ts
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1262 fix(apollo,look&feel): ContentItemMono fix margin when icon is empty
  client/apollo/react/src/ContentItemMono/ContentItemMonoCommon.tsx
  client/apollo/react/src/ContentItemMono/ContentItemMonoCore.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoCommon.test.tsx
  client/apollo/react/src/ContentItemMono/__tests__/ContentItemMonoCore.test.tsx
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1182 fix(apollo, look&feel)!: Correction css composant dropdown
  apps/apollo-stories/src/components/Dropdown/Dropdown.mdx
  apps/apollo-stories/src/components/Dropdown/Dropdown.stories.tsx
  apps/apollo-stories/src/components/Select/Select.mdx
  apps/look-and-feel-stories/src/Dropdown.mdx
  apps/look-and-feel-stories/src/Dropdown.stories.tsx
  apps/look-and-feel-stories/src/Select.stories.tsx
  client/apollo/css/src/Form/Dropdown/DropdownApollo.scss
  client/apollo/css/src/Form/Dropdown/DropdownCommon.scss
  client/apollo/css/src/Form/Dropdown/DropdownLF.scss
  client/apollo/css/src/Form/Select/SelectApollo.scss
  client/apollo/css/src/Form/Select/SelectCommon.scss
  client/apollo/css/src/Form/Select/SelectLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/Dropdown/DropdownApollo.tsx
  client/apollo/react/src/Form/Dropdown/DropdownCommon.tsx
  client/apollo/react/src/Form/Dropdown/DropdownLF.tsx
  client/apollo/react/src/Form/Dropdown/__tests__/Dropdown.test.tsx
  client/apollo/react/src/Form/Select/SelectApollo.tsx
  client/apollo/react/src/Form/Select/SelectLF.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Form/Select/Select.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Form/Dropdown/Dropdown.tsx
  client/look-and-feel/react/src/Form/Select/Select.tsx
  client/look-and-feel/react/src/index.ts
Labels: component, css-package, look'n feel (Espace Client), breaking-change, Apollo AXA.fr

#1271 fix(apollo,look&feel): fix icon colors
  client/apollo/css/src/ClickIcon/ClickIconCommon.scss
  client/apollo/react/src/ClickIcon/ClickIconCommon.tsx
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1053 feat(slash): add version in footer
  apps/slash-stories/src/Layout/Footer.mdx
  apps/slash-stories/src/Layout/Footer.stories.tsx
  slash/css/src/Layout/Footer/Footer.scss
  slash/react/src/Layout/Footer/Footer.tsx
  slash/react/src/Layout/Footer/__tests__/Footer.test.tsx
Labels: enhancement, agent-slash, component, design

#1296 fix(apollo,look&feel): bug on LF
  client/apollo/css/src/Button/ButtonApollo.scss
  client/apollo/css/src/Button/ButtonCommon.scss
  client/apollo/css/src/Button/ButtonLF.scss
  client/apollo/react/src/Button/ButtonCommon.tsx
Labels: look'n feel (Espace Client), Apollo AXA.fr
