Repository AxaFrance/design-system, pull requests merged in 2025-04, with the labels that each got.

#1077 fix(look&feel): remove last-child style in modal footer
  client/look-and-feel/css/src/Modal/Modal.scss
Labels: css-package, look'n feel (Espace Client), ux

#1081 chore(design-system): update bug report templates for consistency and clarity
  .github/ISSUE_TEMPLATE/2-look&feel_bug_report.md
  .github/ISSUE_TEMPLATE/5-look&feel_accessibility_issue.md
  .github/ISSUE_TEMPLATE/6-apollo_accessibility_issue.md
Labels: chore

#1041 test(slash): add test for Number component
  slash/react/src/Form/Number/__tests__/Number.test.tsx
  slash/react/src/Form/Number/__tests__/NumberInput.test.tsx
Labels: agent-slash, test

#1063 feat(look&feel): add required prop and accessibility tests
  client/apollo/react/src/Form/TextInput/TextInputCommon.tsx
  client/apollo/react/src/Form/TextInput/__tests__/TextInputLF.test.tsx
  client/apollo/react/vitest.config.ts
Labels: look'n feel (Espace Client), test

#1052 test(slash): add test on pass input
  slash/react/src/Form/Pass/__test__/Pass.test.tsx
  slash/react/src/Form/Pass/__test__/PassInput.test.tsx
Labels: agent-slash, test

#1083 docs(design-system): add deprecation guidelines for components
  docs/guidelines/component-dod.md
Labels: documentation

#1034 feat(apollo,look&feel): ajout du composant icon
  apps/apollo-stories/src/components/Icon/Icon.mdx
  apps/apollo-stories/src/components/Icon/Icon.stories.tsx
  apps/look-and-feel-stories/src/Icon.mdx
  apps/look-and-feel-stories/src/Icon.stories.tsx
  apps/look-and-feel-stories/src/IconBg.mdx
  apps/look-and-feel-stories/src/Svg.mdx
  client/apollo/css/src/Icon/IconApollo.scss
  client/apollo/css/src/Icon/IconCommon.scss
  client/apollo/css/src/Icon/IconLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Icon/IconApollo.tsx
  client/apollo/react/src/Icon/IconCommon.tsx
  client/apollo/react/src/Icon/IconLF.tsx
  client/apollo/react/src/Icon/__tests__/Icon.test.tsx
  client/apollo/react/src/Svg/Svg.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/react/src/IconBg/IconBg.tsx
  package-lock.json
  package.json
Labels: look'n feel (Espace Client), Atome, Apollo AXA.fr

#1054 feat(look&feel): remove ClickList component fixes #570
  .gitignore
  apps/look-and-feel-stories-css/src/ClickList.stories.ts
  apps/look-and-feel-stories-css/src/ContactRender.ts
  apps/look-and-feel-stories-css/src/Grid/renderExamplePage.ts
  apps/look-and-feel-stories/src/ClickList.mdx
  apps/look-and-feel-stories/src/ClickList.stories.tsx
  client/look-and-feel/react/src/List/ClickList/ClickList.tsx
  client/look-and-feel/react/src/List/ClickList/__tests__/ClickList.client.test.tsx
  client/look-and-feel/react/src/List/ClickList/index.ts
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), breaking-change

#990 fix(slash): use Select component inside table pagination
  slash/react/src/Table/Pagination/Items.tsx
Labels: bug, agent-slash

#1092 feat(look&feel): add stories to ClickItem
  apps/look-and-feel-stories-css/src/List.stories.ts
  apps/look-and-feel-stories/src/ClickItem.mdx
  apps/look-and-feel-stories/src/ClickItem.stories.tsx
  client/look-and-feel/css/src/List/ClickItem/ClickItem.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Layout/Header/BurgerMenu/BurgerMenu.tsx
  client/look-and-feel/react/src/List/ClickItem/ClickItem.helpers.tsx
  client/look-and-feel/react/src/List/ClickItem/ClickItem.tsx
  client/look-and-feel/react/src/List/ClickItem/__tests__/ClickItem.helpers.test.tsx
  client/look-and-feel/react/src/List/ClickItem/__tests__/ClickItem.test.tsx
  client/look-and-feel/react/src/List/ClickItem/index.ts
  client/look-and-feel/react/src/List/ClickItem/types.d.ts
  client/look-and-feel/react/src/List/ClickList/index.ts
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client)

#1087 ci(design-system): pin Chromatic and SonarCloud action versions to specific
  .github/workflows/chromatic.yml
  .github/workflows/main.yml
Labels: chore, ci

#1093 ci(design-system): refactor storybook deployment for publish next version of storybook
  .github/workflows/publish-client.yml
  .github/workflows/publish-slash.yml
Labels: chore, ci

#1095 ci(design-system): set max-parallel to 1 for storybook downloads
  .github/workflows/publish-client.yml
  .github/workflows/publish-slash.yml
Labels: chore, ci

#1037 fix(slash): input error is not linked to the input
  slash/react/src/Form/Checkbox/CheckboxInput.tsx
  slash/react/src/Form/Choice/ChoiceInput.tsx
  slash/react/src/Form/Date/DateInput.tsx
  slash/react/src/Form/File/FileInput.tsx
  slash/react/src/Form/File/__tests__/__snapshots__/FileInput.spec.tsx.snap
  slash/react/src/Form/MultiSelect/MultiSelectInput.tsx
  slash/react/src/Form/MultiSelect/__tests__/__snapshots__/MultiSelectInput.spec.tsx.snap
  slash/react/src/Form/Number/NumberInput.tsx
  slash/react/src/Form/Pass/PassInput.tsx
  slash/react/src/Form/Radio/RadioInput.tsx
  slash/react/src/Form/Select/SelectInput.tsx
  slash/react/src/Form/Text/TextInput.tsx
  slash/react/src/Form/Textarea/TextareaInput.tsx
  slash/react/src/Form/core/Field.tsx
  slash/react/src/Form/core/FieldError.tsx
  slash/react/src/Form/core/LegacyField.tsx
  slash/react/src/Form/core/useAriaInvalid.ts
Labels: agent-slash, accessibility

#1057 test(slash): footer component
  slash/react/src/Layout/Footer/__tests__/Footer.test.tsx
Labels: agent-slash, test

#1062 feat(slash): ajout content dans les titres
  apps/slash-stories/src/Title.mdx
  apps/slash-stories/src/Title.stories.tsx
  slash/css/src/Button/Button.scss
  slash/css/src/Link/Link.scss
  slash/css/src/Title/Title.scss
  slash/react/src/Title/Title.tsx
  slash/react/src/Title/__tests__/Title.test.tsx
Labels: agent-slash

#1094 fix(slash): update header subtitle color
  slash/css/src/common/common.scss
Labels: agent-slash, component

#1068 feat(slash): add children to support optgroup to select
  apps/slash-stories/src/Form/Select.mdx
  apps/slash-stories/src/Form/Select.stories.tsx
  slash/react/src/Form/Select/Select.tsx
  slash/react/src/Form/Select/SelectBase.tsx
  slash/react/src/Form/Select/SelectDefault.tsx
  slash/react/src/Form/Select/SelectDefaultWithOptions.tsx
  slash/react/src/Form/Select/SelectInput.tsx
  slash/react/src/Form/Select/__tests__/Select.test.tsx
Labels: agent-slash, component

#1104 fix(look&feel): button active / focus-visible
  client/apollo/css/src/Button/ButtonLF.scss
Labels: bug, css-package, look'n feel (Espace Client)

#1098 feat(apollo,look&feel): création de l'atome toggle
  apps/apollo-stories/src/components/Toggle/Toggle.mdx
  apps/apollo-stories/src/components/Toggle/Toggle.stories.tsx
  apps/look-and-feel-stories/src/Toggle/Toggle.mdx
  apps/look-and-feel-stories/src/Toggle/Toggle.stories.tsx
  client/apollo/css/src/Toggle/ToggleApollo.scss
  client/apollo/css/src/Toggle/ToggleCommon.scss
  client/apollo/css/src/Toggle/ToggleLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Toggle/ToggleApollo.tsx
  client/apollo/react/src/Toggle/ToggleCommon.tsx
  client/apollo/react/src/Toggle/ToggleLF.tsx
  client/apollo/react/src/Toggle/__tests__/Toggle.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/react/src/Toggle/index.ts
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1107 feat(look&feel): add disabled prop and deprecate isDisabled prop
  client/look-and-feel/react/src/List/ClickItem/ClickItem.tsx
  client/look-and-feel/react/src/List/ClickItem/__tests__/ClickItem.test.tsx
  client/look-and-feel/react/src/List/ClickItem/types.d.ts
Labels: component, look'n feel (Espace Client)

#1030 feat(apollo): link
  apps/apollo-stories/src/components/Link/Link.mdx
  apps/apollo-stories/src/components/Link/Link.stories.tsx
  apps/look-and-feel-stories-css/src/Alert.stories.ts
  apps/look-and-feel-stories-css/src/Link.stories.ts
  client/apollo/css/src/Link/LinkApollo.scss
  client/apollo/css/src/Link/LinkCommon.scss
  client/apollo/css/src/Link/LinkLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Link/LinkApollo.tsx
  client/apollo/react/src/Link/LinkCommon.tsx
  client/apollo/react/src/Link/LinkLF.tsx
  client/apollo/react/src/Link/__tests__/Link.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Link/Link.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Link/Link.tsx
  client/look-and-feel/react/src/Link/index.ts
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1110 feat(apollo,look&feel): add BasePicture component with styles and sto…
  apps/apollo-stories/src/components/BasePicture/BasePicture.mdx
  apps/apollo-stories/src/components/BasePicture/BasePicture.stories.tsx
  apps/look-and-feel-stories/src/BasePicture.mdx
  apps/look-and-feel-stories/src/BasePicture.stories.tsx
  client/apollo/css/files/assets/logo-axa.svg
  client/apollo/css/src/BasePicture/BasePictureApollo.scss
  client/apollo/css/src/BasePicture/BasePictureCommon.scss
  client/apollo/css/src/BasePicture/BasePictureLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/BasePicture/BasePictureApollo.tsx
  client/apollo/react/src/BasePicture/BasePictureCommon.tsx
  client/apollo/react/src/BasePicture/BasePictureLF.tsx
  client/apollo/react/src/BasePicture/__tests__/BasePicture.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/BasePicture/BasePicture.tsx
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1031 feat(apollo,look&feel): évolution de l'atome Tag
  apps/apollo-stories/src/components/Tag/Tag.mdx
  apps/apollo-stories/src/components/Tag/Tag.stories.tsx
  apps/apollo-stories/src/components/Tag/Tag.story.scss
  apps/apollo-stories/src/components/Tag/render.tsx
  apps/look-and-feel-stories/src/Tag/Tag.mdx
  apps/look-and-feel-stories/src/Tag/Tag.stories.tsx
  apps/look-and-feel-stories/src/Tag/Tag.story.scss
  apps/look-and-feel-stories/src/Tag/render.tsx
  client/apollo/css/src/Tag/TagApollo.scss
  client/apollo/css/src/Tag/TagCommon.scss
  client/apollo/css/src/Tag/TagLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Tag/TagApollo.ts
  client/apollo/react/src/Tag/TagCommon.tsx
  client/apollo/react/src/Tag/TagLF.ts
  client/apollo/react/src/Tag/__test__/Tag.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/react/src/Accordion/AccordionTagDateContainer.tsx
  client/look-and-feel/react/src/Accordion/__tests__/AccordionTagDateContainer.test.tsx
  client/look-and-feel/react/src/List/ContentTabList/ContentTabItem/ContentTabItem.tsx
  client/look-and-feel/react/src/Tag/Tag.tsx
  client/look-and-feel/react/src/Tag/index.ts
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1114 ci(design-system): skip renovate and dependabot changes in Chromatic builds
  .github/workflows/chromatic.yml
Labels: chore, ci

#1105 feat(apollo,look&feel): ajout du composant Textarea
  apps/apollo-stories/src/components/TextArea/TextArea.mdx
  apps/apollo-stories/src/components/TextArea/TextArea.stories.tsx
  apps/look-and-feel-stories-css/src/TextArea.stories.ts
  apps/look-and-feel-stories/src/Textarea/TextArea.mdx
  apps/look-and-feel-stories/src/Textarea/TextArea.stories.tsx
  client/apollo/css/src/Form/TextArea/TextAreaApollo.scss
  client/apollo/css/src/Form/TextArea/TextAreaCommon.scss
  client/apollo/css/src/Form/TextArea/TextAreaLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/TextArea/TextAreaApollo.tsx
  client/apollo/react/src/Form/TextArea/TextAreaCommon.tsx
  client/apollo/react/src/Form/TextArea/TextAreaLF.tsx
  client/apollo/react/src/Form/TextArea/__tests__/TextArea.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Form/TextArea/TextArea.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/Form/TextArea/TextArea.tsx
  client/look-and-feel/react/src/Form/TextArea/__tests__/TextArea.test.tsx
  client/look-and-feel/react/src/Form/TextArea/index.ts
  client/look-and-feel/react/src/index.ts
Labels: component, css-package, look'n feel (Espace Client), Apollo AXA.fr, Organisme

#1116 ci(design-system): enhance workflow to trigger on completion of 'Publish Client'
  .github/workflows/publish-slash.yml
Labels: chore, ci

#1101 feat(apollo,look&feel): ajout du composant ClickIcon
  apps/apollo-stories/src/components/ClickIcon/ClickIcon.mdx
  apps/apollo-stories/src/components/ClickIcon/ClickIcon.stories.tsx
  apps/look-and-feel-stories/src/ClickIcon.mdx
  apps/look-and-feel-stories/src/ClickIcon.stories.tsx
  client/apollo/css/src/ClickIcon/ClickIconApollo.scss
  client/apollo/css/src/ClickIcon/ClickIconCommon.scss
  client/apollo/css/src/ClickIcon/ClickIconLF.scss
  client/apollo/css/src/Icon/IconApollo.scss
  client/apollo/css/src/Icon/IconCommon.scss
  client/apollo/css/src/Icon/IconLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/ClickIcon/ClickIconApollo.tsx
  client/apollo/react/src/ClickIcon/ClickIconCommon.tsx
  client/apollo/react/src/ClickIcon/ClickIconLF.tsx
  client/apollo/react/src/ClickIcon/__tests__/ClickIcon.test.tsx
  client/apollo/react/src/Icon/IconCommon.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/ClickIcon/ClickIcon.tsx
  client/look-and-feel/react/src/Icon/Icon.tsx
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1122 fix(slash): move reboot.scss for fix lot of call in project
  apps/slash-stories-css/.storybook/preview.ts
  apps/slash-stories-css/src/TextInput.stories.ts
  slash/css/src/Form/Checkbox/Checkbox.scss
  slash/css/src/Form/Choice/Choice.scss
  slash/css/src/Form/Date/Date.scss
  slash/css/src/Form/MultiSelect/MultiSelect.scss
  slash/css/src/Form/Pass/Pass.scss
  slash/css/src/Form/Radio/Radio.scss
  slash/css/src/Form/Select/Select.scss
  slash/css/src/Form/Slider/Slider.scss
  slash/css/src/Form/Textarea/Textarea.scss
  slash/css/src/Layout/Header/NavBar/NavBar.scss
  slash/css/src/Modal/Modal.scss
  slash/css/src/Steps/Steps.scss
  slash/css/src/Tabs/Tabs.scss
  slash/react/src/index.ts
Labels: bug, agent-slash, css-package

#1129 fix(apollo,look&feel): font-size mobile
  client/apollo/css/src/Message/MessageApollo.scss
  client/apollo/css/src/Message/MessageCommon.scss
  client/apollo/css/src/Message/MessageLF.scss
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1128 Feature/item label
  client/apollo/css/src/Form/ItemLabel/ItemLabelApollo.scss
  client/apollo/css/src/Form/ItemLabel/ItemLabelCommon.scss
  client/apollo/css/src/Form/ItemLabel/ItemLabelLF.scss
Labels: look'n feel (Espace Client), Atome, Apollo AXA.fr

#1131 fix(apollo): text color filled
  client/apollo/css/src/Form/TextInput/TextInputApollo.scss
Labels: Apollo AXA.fr

#1096 feat(apollo,look&feel): progressbar, progressbargroup, stepper
  apps/apollo-stories/src/components/ProgressBar/ProgressBar.mdx
  apps/apollo-stories/src/components/ProgressBar/ProgressBar.stories.tsx
  apps/apollo-stories/src/components/ProgressBarGroup/ProgressBarGroup.mdx
  apps/apollo-stories/src/components/ProgressBarGroup/ProgressBarGroup.stories.tsx
  apps/apollo-stories/src/components/Stepper/Stepper.mdx
  apps/apollo-stories/src/components/Stepper/Stepper.stories.tsx
  apps/look-and-feel-stories-css/src/Stepper.stories.ts
  apps/look-and-feel-stories/src/ProgressBar/ProgressBar.mdx
  apps/look-and-feel-stories/src/ProgressBar/ProgressBar.stories.tsx
  apps/look-and-feel-stories/src/ProgressBarGroup/ProgressBarGroup.mdx
  apps/look-and-feel-stories/src/ProgressBarGroup/ProgressBarGroup.stories.tsx
  apps/look-and-feel-stories/src/Stepper/Stepper.mdx
  apps/look-and-feel-stories/src/Stepper/Stepper.stories.tsx
  client/apollo/css/src/ProgressBar/ProgressBarApollo.scss
  client/apollo/css/src/ProgressBar/ProgressBarCommon.scss
  client/apollo/css/src/ProgressBar/ProgressBarLF.scss
  client/apollo/css/src/ProgressBarGroup/ProgressBarGroupApollo.scss
  client/apollo/css/src/ProgressBarGroup/ProgressBarGroupCommon.scss
  client/apollo/css/src/ProgressBarGroup/ProgressBarGroupLF.scss
  client/apollo/css/src/Stepper/StepperApollo.scss
  client/apollo/css/src/Stepper/StepperCommon.scss
  client/apollo/css/src/Stepper/StepperLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/ProgressBar/ProgressBarApollo.tsx
  client/apollo/react/src/ProgressBar/ProgressBarCommon.tsx
  client/apollo/react/src/ProgressBar/ProgressBarLF.tsx
  client/apollo/react/src/ProgressBar/__tests__/ProgressBarCommon.test.tsx
  client/apollo/react/src/ProgressBarGroup/ProgressBarGroupApollo.tsx
  client/apollo/react/src/ProgressBarGroup/ProgressBarGroupCommon.tsx
  client/apollo/react/src/ProgressBarGroup/ProgressBarGroupLF.tsx
  client/apollo/react/src/ProgressBarGroup/__tests__/ProgressBarGroupCommon.test.tsx
  client/apollo/react/src/Stepper/StepperApollo.tsx
  client/apollo/react/src/Stepper/StepperCommon.tsx
  client/apollo/react/src/Stepper/StepperLF.tsx
  client/apollo/react/src/Stepper/__tests__/StepperCommon.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/Stepper/Stepper.scss
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/css/src/look-and-feel.scss
  client/look-and-feel/react/src/ProgressBar/ProgressBar.tsx
  client/look-and-feel/react/src/ProgressBarGroup/ProgressBarGroup.tsx
  client/look-and-feel/react/src/Stepper/Stepper.tsx
  client/look-and-feel/react/src/index.ts
Labels: component, look'n feel (Espace Client), Apollo AXA.fr

#1133 fix(apollo,look&feel): add vertical spacing
  client/apollo/css/src/Message/MessageApollo.scss
  client/apollo/css/src/Message/MessageCommon.scss
  client/apollo/css/src/Message/MessageLF.scss
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1124 Création du composant DateInput
  apps/apollo-stories/src/components/Date/Date.stories.tsx
  apps/look-and-feel-stories/src/Date/Date.stories.tsx
  client/apollo/css/src/Form/DateInput/DateInputApollo.scss
  client/apollo/css/src/Form/DateInput/DateInputCommon.scss
  client/apollo/css/src/Form/DateInput/DateInputLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Form/DateInput/DateInput.helper.ts
  client/apollo/react/src/Form/DateInput/DateInputApollo.tsx
  client/apollo/react/src/Form/DateInput/DateInputCommon.tsx
  client/apollo/react/src/Form/DateInput/DateInputLF.tsx
  client/apollo/react/src/Form/DateInput/__tests__/DateInput.helper.test.tsx
  client/apollo/react/src/Form/DateInput/__tests__/DateInput.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/Form/Date/Date.tsx
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr, molecule, Création

#1138 fix(apollo,look&feel): fixer erreur lexical eslint build
  client/apollo/css/src/Form/TextArea/TextAreaCommon.scss
Labels: Apollo AXA.fr

#1132 feat(apollo,look&feel): cardmessage component
  apps/apollo-stories/src/components/CardMessage/CardMessage.mdx
  apps/apollo-stories/src/components/CardMessage/CardMessage.stories.tsx
  apps/look-and-feel-stories/src/CardMessage.mdx
  apps/look-and-feel-stories/src/CardMessage.stories.tsx
  client/apollo/css/src/CardMessage/CardMessageApollo.scss
  client/apollo/css/src/CardMessage/CardMessageCommon.scss
  client/apollo/css/src/CardMessage/CardMessageLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/CardMessage/CardMessageApollo.tsx
  client/apollo/react/src/CardMessage/CardMessageCommon.tsx
  client/apollo/react/src/CardMessage/CardMessageLF.tsx
  client/apollo/react/src/CardMessage/__test__/CardMessage.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/react/src/CardMessage/CardMessage.tsx
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Atome, Apollo AXA.fr

#1127 [AXA.fr] [Espace Client] [Molécule] Création du composant "Timeline_Vertical" #859
  apps/apollo-stories/src/components/TimelineVertical/TimelineVertical.mdx
  apps/apollo-stories/src/components/TimelineVertical/TimelineVertical.stories.tsx
  apps/look-and-feel-stories/src/TimelineVertical/TimelineVertical.mdx
  apps/look-and-feel-stories/src/TimelineVertical/TimelineVertical.stories.tsx
  client/apollo/css/src/Tag/TagCommon.scss
  client/apollo/css/src/TimelineVertical/TimelineVerticalApollo.scss
  client/apollo/css/src/TimelineVertical/TimelineVerticalCommon.scss
  client/apollo/css/src/TimelineVertical/TimelineVerticalLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/Tag/TagCommon.tsx
  client/apollo/react/src/TimelineVertical/TimelineVerticalApollo.tsx
  client/apollo/react/src/TimelineVertical/TimelineVerticalCommon.tsx
  client/apollo/react/src/TimelineVertical/TimelineVerticalLF.tsx
  client/apollo/react/src/TimelineVertical/__tests__/TimelineVertical.test.tsx
  client/apollo/react/src/TimelineVertical/types.ts
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/css/src/common/common.scss
  client/look-and-feel/css/src/common/tokens.scss
  client/look-and-feel/react/src/TimelineVertical/TimelineVertical.ts
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Apollo AXA.fr, molecule

#1134 chore(design-system): remove airbnb eslint config and update this and fix it
  package-lock.json
  package.json
  packages/eslint-config/airbnb.legacy.config.mjs
  packages/eslint-config/ds.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  slash/react/src/Form/Pass/PassInput.tsx
Labels: chore

#1145 fix(apollo,look&feel): fix focus and dev
  client/apollo/css/src/ClickIcon/ClickIconApollo.scss
  client/apollo/css/src/ClickIcon/ClickIconCommon.scss
  client/apollo/css/src/ClickIcon/ClickIconLF.scss
  package.json
Labels: look'n feel (Espace Client), Apollo AXA.fr

#1149 ci(design-system): add outputs for full semantic version and pre-release tag
  .github/action/git-version/action.yaml
Labels: chore, ci

#1155 ci(design-system): update folder handling to support array input for artifact creation
  .github/action/create-storybook-artifact/action.yaml
Labels: chore, ci

#1157 fix create artifact storybooks
  .github/action/create-storybook-artifact/action.yaml
  .github/workflows/publish.yml
Labels: chore, ci

#1160 ci(design-system): remove double quotte for mkdir and cp command
  .github/action/create-storybook-artifact/action.yaml
Labels: chore, ci

#1168 fix(apollo,look&feel): forward ref correctly
  client/apollo/react/src/Form/DateInput/DateInputApollo.tsx
  client/apollo/react/src/Form/DateInput/DateInputLF.tsx
  client/apollo/react/src/Form/Select/SelectApollo.tsx
  client/apollo/react/src/Form/Select/SelectLF.tsx
  client/apollo/react/src/Form/TextArea/TextAreaApollo.tsx
  client/apollo/react/src/Form/TextArea/TextAreaLF.tsx
  client/apollo/react/src/Form/TextInput/TextInputApollo.tsx
  client/apollo/react/src/Form/TextInput/TextInputLF.tsx
  package-lock.json
  samples/vite/package.json
  samples/vite/src/Client.tsx
Labels: component, look'n feel (Espace Client)

#1169 feat(apollo,look&feel): feat item tab bar
  apps/apollo-stories/src/components/ItemTabBar/ItemTabBar.mdx
  apps/apollo-stories/src/components/ItemTabBar/ItemTabBar.stories.tsx
  apps/look-and-feel-stories/src/ItemTabBar.mdx
  apps/look-and-feel-stories/src/ItemTabBar.stories.tsx
  client/apollo/css/src/ItemTabBar/ItemTabBarApollo.scss
  client/apollo/css/src/ItemTabBar/ItemTabBarCommon.scss
  client/apollo/css/src/ItemTabBar/ItemTabBarLF.scss
  client/apollo/css/src/apollo.scss
  client/apollo/css/src/common/tokens.scss
  client/apollo/css/src/look-and-feel.scss
  client/apollo/react/src/ItemTabBar/ItemTabBarApollo.tsx
  client/apollo/react/src/ItemTabBar/ItemTabBarCommon.tsx
  client/apollo/react/src/ItemTabBar/ItemTabBarLF.tsx
  client/apollo/react/src/ItemTabBar/__test__/ItemTabBar.test.tsx
  client/apollo/react/src/index.ts
  client/apollo/react/src/indexLF.ts
  client/look-and-feel/react/src/ItemTabBar/ItemTabBar.tsx
  client/look-and-feel/react/src/index.ts
Labels: look'n feel (Espace Client), Atome, Apollo AXA.fr

#1175 fix(apollo, look&feel): use the new CheckboxCard component for the DebugGrid
  client/apollo/css/src/Grid/DebugGrid.scss
  client/apollo/react/src/Grid/DebugGrid.tsx
Labels: component, css-package, look'n feel (Espace Client), Apollo AXA.fr
